In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
read = '/home/zoro/Desktop/datafest2018/DataFest-Dataset-2018.csv/output/month2/'
#write= '/Users/Apoorva.Rajesh.Joshi@ibm.com/Desktop/Ap version/'
filename = 'nov16.csv'
df = pd.read_csv(read+filename).drop(['Unnamed: 0'], axis=1) # read the file and drop first column

In [2]:
df1 = df[df.educationRequirements.notnull()]

In [3]:
def add_sector(df):
    df['Sector']=df['normTitleCategory']
    df['Sector'].replace(['sales','management','marketing','finance', 'hr','project','hospitality'], 
                          'Management',inplace=True)
    df['Sector'].replace(['customer', 'service', 'protective','personal'], 
                          'CustomerService',inplace=True)
    df['Sector'].replace(['admin', 'techsoftware','engcivil','techinfo','techhelp','engelectric',
                     'engid', 'engmech','engchem','tech'], 
                          'Engineering',inplace=True)
    df['Sector'].replace(['military','agriculture', 'mining', 'aviation'], 
                          'Government',inplace=True)
    df['Sector'].replace(['care','mednurse','pharmacy','medtech','sanitation','meddr',
                      'childcare','therapy','medinfo','meddental'], 
                          'HealthCare/Nutition',inplace=True)
    df['Sector'].replace(['manufacturing', 'retail','warehouse','install','construction','realestate'], 
                          'Industry',inplace=True)
    df['Sector'].replace(['insurance','legal','accounting'], 
                          'FinancialServices',inplace=True)
    df['Sector'].replace(['arts','media', 'veterinary'], 
                          'SocialServices',inplace=True)
    df['Sector'].replace(['uncategorized','food'], 
                          'Other',inplace=True)
    df['Sector'].replace(['transport','driver'], 
                          'Transport',inplace=True)
    df['Sector'].replace(['math', 'education','sports','science', 'arch','socialscience'], 
                          'Education',inplace=True)
    return df

In [4]:
def make_salary_label(df1):
    df11 = df1[df1.estimatedSalary<26000]
    df12 = df1[df1.estimatedSalary>=26000]
    df121 = df12[df12.estimatedSalary<60000]
    df122 = df12[df12.estimatedSalary>=60000]
    
    df11['salaryLabel'] = 0
    df121['salaryLabel'] = 1
    df122['salaryLabel'] = 2
    
    df2 = df11.append(df121, ignore_index=True)
    df2 = df2.append(df122, ignore_index=True)
    return df2

In [5]:
df1 = add_sector(df1)
df1.shape

/home/zoro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/zoro/anaconda2/lib/python2.7/site-packages/pandas/core/generic.py:3924: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

(746620, 25)

In [6]:
EdSal = make_salary_label(df1)

/home/zoro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/zoro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/zoro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [8]:
EdSal

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label,Sector,salaryLabel
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,EN,0.0,0.0,High School,99,12,2,43,CustomerService,0
1,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,EN,0.0,0.0,None,14,22,0,268079,Industry,0
2,2016-11-01,company34118,job0070173,US,TX,Seagoville,3.3,22.0,NaN,dietary aide,...,EN,0.0,0.0,High School,5,50,1,332463,HealthCare/Nutition,0
3,2016-11-01,company21881,job0063303,US,NC,Winston-Salem,0.0,NaN,NaN,member services representative,...,EN,0.0,0.0,High School,7,28,0,282680,CustomerService,0
4,2016-11-01,company07204,job0010364,US,NJ,Vineland,0.0,NaN,NaN,direct support professional,...,EN,0.0,1.0,High School,64,23,1,119541,CustomerService,0
5,2016-11-01,company03292,job0054176,US,NE,Norfolk,4.1,330.0,INTERNET_AND_SOFTWARE,field interviewer,...,EN,0.0,1.0,None,14,35,6,79071,SocialServices,0
6,2016-11-01,company27862,job0063301,US,NY,Lagrange,0.0,NaN,NaN,member services representative,...,EN,0.0,0.0,High School,7,31,0,313333,CustomerService,0
7,2016-11-01,company07201,job0010358,US,NY,Rochester,0.0,NaN,NaN,paraprofessional,...,EN,0.0,0.0,High School,64,10,10,119522,CustomerService,0
8,2016-11-01,company04481,job0005726,US,MD,Baltimore,0.0,NaN,NaN,customer service representative,...,EN,0.0,0.0,High School,76,30,12,92410,CustomerService,0
9,2016-11-01,company24662,job0046800,US,NV,Reno,3.2,25.0,NaN,shipping and receiving clerk,...,EN,0.0,0.0,High School,19,20,2,303236,Industry,0
10,2016-11-01,company27757,job0054172,US,PA,Alburtis,0.0,NaN,NaN,shift manager,...,EN,1.0,0.0,None,13,20,0,312762,Management,0
11,2016-11-01,company00563,job0021714,US,KY,Paducah,3.8,25.0,NaN,cashier,...,EN,0.0,0.0,None,41,13,2,14725,Industry,0
12,2016-11-01,company21881,job0063305,US,NC,Statesville,0.0,NaN,NaN,member services representative,...,EN,0.0,0.0,High School,8,36,21,282681,CustomerService,0
13,2016-11-01,company00737,job0024383,US,MN,Maplewood,3.8,27.0,NaN,associate,...,EN,0.0,0.0,None,38,21,2,17139,Other,0
14,2016-11-01,company04464,job0005707,US,FL,Orlando,0.0,NaN,NaN,loss prevention officer,...,EN,0.0,1.0,None,76,9,3,92024,CustomerService,0
15,2016-11-01,company11733,job0018558,US,WA,Olympia,3.8,83.0,NaN,sales specialist,...,EN,0.0,0.0,High School,47,11,4,168958,Management,0
16,2016-11-01,company03788,job0029026,US,TX,Tyler,0.0,NaN,NaN,visual merchandiser,...,EN,0.0,0.0,None,31,8,8,85075,Industry,0
17,2016-11-01,company37457,job0079793,US,AL,Birmingham,0.0,NaN,NaN,lot attendant,...,EN,0.0,1.0,High School,0,132,55,341551,Industry,0
18,2016-11-01,company18586,job0079794,US,NV,Reno,3.7,851.0,NaN,operator,...,EN,0.0,0.0,High School,0,20,14,251901,Industry,0
19,2016-11-01,company16776,job0029036,US,TN,Knoxville,3.6,151.0,TRANSPORT_AND_FREIGHT,medical services manager,...,EN,0.0,0.0,None,31,28,28,226289,Engineering,0
20,2016-11-01,company24666,job0046808,US,CO,Denver,3.2,792.0,"CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURC...",security officer,...,EN,0.0,0.0,High School,19,18,3,303253,CustomerService,0
21,2016-11-01,company24668,job0046811,US,OH,Miamisburg,5.0,49.0,NaN,laborer,...,EN,0.0,0.0,None,19,22,5,303278,Industry,0
22,2016-11-01,company35156,job0073067,US,AZ,Fountain Hills,3.6,48.0,RESTAURANTS_TRAVEL_AND_LEISURE,delivery driver,...,EN,0.0,1.0,High School,3,29,3,334585,Transport,0
23,2016-11-01,company02146,job0057322,US,TX,Keller,0.0,NaN,NaN,food manager,...,EN,1.0,0.0,High School,11,13,1,49781,Other,0
24,2016-11-01,company35157,job0073069,US,FL,Chipley,0.0,NaN,NaN,custodian,...,EN,0.0,0.0,None,3,16,3,334587,HealthCare/Nutition,0
25,2016-11-01,company04832,job0079787,US,WI,New London,3.7,62.0,NaN,machine operator,...,EN,0.0,0.0,High School,0,22,2,95449,Industry,0
26,2016-11-01,company21966,job0040807,US,IN,North Vernon,5.0,72.0,NaN,circulation assistant,...,EN,0.0,0.0,High School,22,24,1,283338,Engineering,0
27,2016-11-01,company01460,job0015994,US,VA,Newport News,3.5,53.0,NaN,dog trainer,...,EN,0.0,0.0,None,52,32,2,31853,SocialServices,0
28,2016-11-01,company23518,job0070998,US,NY,Huntington,3.6,151.0,NaN,residential counselor,...,EN,0.0,1.0,High School,4,19,10,296314,CustomerService,0
29,2016-11-01,company24656,job0046782,US,UNKNOWN,NaN,4.1,77.0,NaN,accounts receivable clerk,...,EN,0.0,0.0,High School,18,31,0,303213,FinancialServices,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746590,2016-11-30,company00587,job0131315,US,CA,Pleasanton,4.0,90.0,NaN,human resources manager,...,EN,1.0,0.0,None,7,4,4,15119,Management,2
746591,2016-11-30,company02805,job0145515,US,MD,Aberdeen,4.3,63.0,NaN,senior subject matter expert,...,EN,1.0,1.0,Higher Education,0,32,0,74460,Other,2
746592,2016-11-30,company03654,job0100657,US,WA,Seattle,4.1,53.0,NaN,freelance consultant,...,EN,0.0,1.0,None,21,7,3,83804,Management,2
746593,2016-11-30,company02754,job0036037,US,MA,Worcester,3.3,50.0,NaN,solutions engineer,...,EN,0.0,0.0,Higher Education,54,20,0,73584,Management,2
746594,2016-11-30,company19334,job0034677,US,MI,Dearborn,0.0,NaN,NaN,cfd engineer,...,EN,0.0,0.0,Higher Education,56,6,0,259433,Engineering,2
746595,2016-11-30,company09385,job0056791,US,SC,Columbia,4.1,34.0,NaN,service consultant,...,EN,0.0,0.0,Higher Education,41,8,0,136849,Management,2
746596,2016-11-30,company03495,job0135454,US,MD,Baltimore,0.0,NaN,NaN,electrician,...,EN,1.0,1.0,Higher Education,5,56,15,81467,Industry,2
746597,2016-11-30,company24717,job0083389,US,KY,Flemingsburg,0.0,NaN,NaN,occupational therapist,...,EN,0.0,1.0,Higher Education,28,7,0,303421,HealthCare/Nutition,2
746598,2016-11-30,company33236,job0083356,US,IL,Lake,0.0,NaN,NaN,project manager,...,EN,0.0,1.0,Higher Education,28,14,0,330680,Management,2
746599,2016-11-30,company00178,job0051826,US,FL,Orlando,3.9,64.0,NaN,team leader,...,EN,1.0,0.0,Higher Education,44,32,3,3435,Management,2
746600,2016-11-30,company15264,job0025907,US,MA,Boston,3.7,64.0,FOOD_AND_BEVERAGES,senior brand manager,...,EN,1.0,0.0,Higher Education,64,25,2,211136,Management,2
746601,2016-11-30,company20749,job0141865,US,FL,Saint Augustine,0.0,NaN,NaN,superintendent,...,EN,0.0,1.0,None,0,18,0,271651,Management,2
746602,2016-11-30,company53655,job0133342,US,TX,Houston,0.0,NaN,NaN,.net developer,...,EN,0.0,0.0,Higher Education,7,5,0,366951,Engineering,2
746603,2016-11-30,company04218,job0130985,US,CA,San Jose,3.7,98.0,NaN,java developer,...,EN,0.0,0.0,None,7,27,0,89115,Engineering,2
746604,2016-11-30,company42753,job0102491,US,OH,Dayton,4.4,40.0,CONSULTING_AND_BUSINESS_SERVICES,tooling engineer,...,EN,0.0,0.0,Higher Education,20,18,0,351174,Engineering,2
746605,2016-11-30,company47732,job0113083,US,DC,Washington,0.0,NaN,NaN,senior auditor,...,EN,0.0,0.0,Higher Education,15,14,0,358585,FinancialServices,2
746606,2016-11-30,company05665,job0007554,US,GA,Brunswick,5.0,65.0,NaN,maintenance manager,...,EN,1.0,0.0,Higher Education,99,25,1,104164,Industry,2
746607,2016-11-30,company07703,job0100641,US,WA,Seattle,0.0,NaN,CONSULTING_AND_BUSINESS_SERVICES,regional sales manager,...,EN,0.0,1.0,Higher Education,21,7,0,123890,Management,2
746608,2016-11-30,company02422,job0122960,US,NY,Purchase,0.0,NaN,NaN,contract attorney,...,EN,0.0,0.0,None,11,8,1,54483,FinancialServices,2
746609,2016-11-30,company43680,job0099455,US,TX,Fort Worth,0.0,NaN,NaN,sap consultant,...,EN,0.0,0.0,Higher Education,21,39,4,352734,Engineering,2
746610,2016-11-30,company02531,job0083970,US,NJ,Gibbstown,3.0,46.0,NaN,quality control manager,...,EN,1.0,0.0,Higher Education,27,11,0,69878,Management,2
746611,2016-11-30,company38665,job0083619,US,CA,Orange,3.7,104.0,NaN,practice manager,...,EN,1.0,0.0,Higher Education,28,7,1,344483,Management,2
746612,2016-11-30,company33067,job0067520,US,WA,Seattle,0.0,NaN,NaN,construction superintendent,...,EN,1.0,1.0,High School,35,16,0,329628,Management,2
746613,2016-11-30,company40288,job0088984,US,CA,Visalia,0.0,NaN,NaN,nurse practitioner,...,EN,0.0,1.0,None,26,8,2,347135,HealthCare/Nutition,2
746614,2016-11-30,company16727,job0083202,US,PA,Reading,3.1,26.0,TRANSPORT_AND_FREIGHT,truck driver,...,EN,0.0,1.0,None,28,7,0,225789,Transport,2
746615,2016-11-30,company55997,job0141921,US,NY,Woodbury,0.0,NaN,NaN,data analyst,...,EN,0.0,0.0,None,1,30,2,369258,Engineering,2
746616,2016-11-30,company04395,job0112111,US,NY,New York,0.0,NaN,NaN,lead analyst,...,EN,0.0,0.0,None,15,21,0,90618,Engineering,2
746617,2016-11-30,company43685,job0099468,US,CA,East Bay,5.0,91.0,NaN,computer vision engineer,...,EN,0.0,0.0,Higher Education,21,7,0,352738,Engineering,2
746618,2016-11-30,company16361,job0028154,US,MA,Boston,3.5,102.0,HEALTH_CARE,patient experience manager,...,EN,1.0,0.0,Higher Education,61,40,7,221530,Management,2
746619,2016-11-30,company19946,job0036020,US,GA,Atlanta,3.7,39.0,NaN,recruitment manager,...,EN,0.0,0.0,Higher Education,55,26,10,264642,Management,2

In [9]:
NoEd = EdSal[EdSal.educationRequirements == 'None']
HSEd = EdSal[EdSal.educationRequirements == 'High School']
HiEd = EdSal[EdSal.educationRequirements == 'Higher Education']

In [10]:
NoEd_LowSal = NoEd[NoEd.salaryLabel == 0]
NoEd_MedSal = NoEd[NoEd.salaryLabel == 1]
NoEd_HiSal = NoEd[NoEd.salaryLabel == 2]
HSEd_LowSal = HSEd[HSEd.salaryLabel == 0]
HSEd_MedSal = HSEd[HSEd.salaryLabel == 1]
HSEd_HiSal = HSEd[HSEd.salaryLabel == 2]
HiEd_LowSal = HiEd[HiEd.salaryLabel == 0]
HiEd_MedSal = HiEd[HiEd.salaryLabel == 1]
HiEd_HiSal = HiEd[HiEd.salaryLabel == 2]

In [11]:
NoEd_LowSal

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label,Sector,salaryLabel
1,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,EN,0.0,0.0,None,14,22,0,268079,Industry,0
5,2016-11-01,company03292,job0054176,US,NE,Norfolk,4.1,330.0,INTERNET_AND_SOFTWARE,field interviewer,...,EN,0.0,1.0,None,14,35,6,79071,SocialServices,0
10,2016-11-01,company27757,job0054172,US,PA,Alburtis,0.0,NaN,NaN,shift manager,...,EN,1.0,0.0,None,13,20,0,312762,Management,0
11,2016-11-01,company00563,job0021714,US,KY,Paducah,3.8,25.0,NaN,cashier,...,EN,0.0,0.0,None,41,13,2,14725,Industry,0
13,2016-11-01,company00737,job0024383,US,MN,Maplewood,3.8,27.0,NaN,associate,...,EN,0.0,0.0,None,38,21,2,17139,Other,0
14,2016-11-01,company04464,job0005707,US,FL,Orlando,0.0,NaN,NaN,loss prevention officer,...,EN,0.0,1.0,None,76,9,3,92024,CustomerService,0
16,2016-11-01,company03788,job0029026,US,TX,Tyler,0.0,NaN,NaN,visual merchandiser,...,EN,0.0,0.0,None,31,8,8,85075,Industry,0
19,2016-11-01,company16776,job0029036,US,TN,Knoxville,3.6,151.0,TRANSPORT_AND_FREIGHT,medical services manager,...,EN,0.0,0.0,None,31,28,28,226289,Engineering,0
21,2016-11-01,company24668,job0046811,US,OH,Miamisburg,5.0,49.0,NaN,laborer,...,EN,0.0,0.0,None,19,22,5,303278,Industry,0
24,2016-11-01,company35157,job0073069,US,FL,Chipley,0.0,NaN,NaN,custodian,...,EN,0.0,0.0,None,3,16,3,334587,HealthCare/Nutition,0
27,2016-11-01,company01460,job0015994,US,VA,Newport News,3.5,53.0,NaN,dog trainer,...,EN,0.0,0.0,None,52,32,2,31853,SocialServices,0
32,2016-11-01,company37442,job0079764,US,PA,Pittston,0.0,NaN,NaN,delivery driver,...,EN,0.0,1.0,None,0,42,1,341427,Transport,0
33,2016-11-01,company37444,job0079767,US,OH,Gallipolis,0.0,NaN,NaN,retail sales associate,...,EN,0.0,0.0,None,0,76,3,341429,Industry,0
35,2016-11-01,company01031,job0040867,US,UNKNOWN,NaN,3.6,780.0,CONSTRUCTION,warehouse worker,...,EN,0.0,0.0,None,22,121,20,25553,Industry,0
38,2016-11-01,company35153,job0073059,US,CA,Walnut,0.0,NaN,NaN,entry level customer service representative,...,EN,0.0,0.0,None,4,199,8,334584,CustomerService,0
41,2016-11-01,company17344,job0063284,US,WA,Kent,3.7,4.0,NaN,clerk,...,EN,0.0,1.0,None,7,10,1,233432,Engineering,0
42,2016-11-01,company04493,job0005744,US,MD,Linthicum,0.0,NaN,NaN,room attendant,...,EN,0.0,0.0,None,75,21,0,92456,HealthCare/Nutition,0
43,2016-11-01,company34114,job0070168,US,UT,Lehi,0.0,NaN,NaN,framer,...,EN,0.0,0.0,None,4,24,3,332458,Industry,0
46,2016-11-01,company04440,job0005672,US,PA,Philadelphia,0.0,NaN,NaN,preschool teacher,...,EN,0.0,0.0,None,76,18,18,91900,HealthCare/Nutition,0
48,2016-11-01,company24689,job0046849,US,MA,Saugus,0.0,NaN,NaN,preschool teacher,...,EN,0.0,0.0,None,19,13,3,303324,HealthCare/Nutition,0
49,2016-11-01,company15346,job0054142,US,MA,Yarmouth,3.4,72.0,NaN,retail merchandiser,...,EN,0.0,1.0,None,13,9,1,211885,Industry,0
55,2016-11-01,company08895,job0054124,US,MO,Saint Joseph,3.4,114.0,NaN,machine operator,...,EN,0.0,0.0,None,14,35,0,133536,Industry,0
56,2016-11-01,company05322,job0021686,US,CA,Visalia,0.0,NaN,NaN,retail sales associate,...,EN,0.0,0.0,None,42,30,16,100268,Industry,0
59,2016-11-01,company08006,job0015965,US,ME,Kennebunk,0.0,NaN,NaN,administrative secretary,...,EN,0.0,0.0,None,52,25,3,126924,Engineering,0
62,2016-11-01,company34386,job0070989,US,OR,Happy Valley,0.0,NaN,NaN,customer service representative,...,EN,0.0,0.0,None,4,94,6,333114,CustomerService,0
69,2016-11-01,company13331,job0021706,US,NC,Charlotte,0.0,NaN,NaN,parking attendant,...,EN,0.0,1.0,None,41,21,1,189735,CustomerService,0
72,2016-11-01,company12733,job0077374,US,NC,Tarboro,2.9,25.0,NaN,shift leader,...,EN,1.0,1.0,None,1,28,3,182433,Management,0
79,2016-11-01,company04447,job0005685,US,OK,Muskogee,3.1,542.0,NaN,forklift operator,...,EN,0.0,1.0,None,76,31,7,91917,Industry,0
80,2016-11-01,company03897,job0060497,US,TX,Tyler,3.9,3.0,NaN,delivery driver,...,EN,0.0,1.0,None,10,16,16,85786,Transport,0
82,2016-11-01,company11936,job0070183,US,CO,Englewood,3.9,409.0,RESTAURANTS_TRAVEL_AND_LEISURE,delivery driver,...,EN,0.0,0.0,None,4,18,0,171465,Transport,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192996,2016-11-30,company02139,job0087766,US,DE,Dover,3.7,38.0,NaN,restaurant team member,...,EN,0.0,0.0,None,26,23,2,49675,Other,0
192997,2016-11-30,company00861,job0137673,US,MD,Upper Marlboro,3.7,69.0,NaN,customer service representative,...,EN,0.0,0.0,None,3,22,2,20248,CustomerService,0
193000,2016-11-30,company57155,job0145747,US,MI,Commerce,0.0,NaN,NaN,bartender,...,EN,0.0,0.0,None,0,15,1,370692,Other,0
193002,2016-11-30,company01786,job0050495,US,PA,Charleroi,3.0,43.0,NaN,inventory associate,...,EN,0.0,0.0,None,45,16,0,39361,Industry,0
193003,2016-11-30,company08040,job0082840,US,VA,Langley,0.0,NaN,NaN,bartender,...,EN,0.0,0.0,None,28,27,3,127052,Other,0
193004,2016-11-30,company00292,job0066470,US,FL,Clermont,0.0,NaN,NaN,deli associate,...,EN,0.0,0.0,None,35,22,0,7254,Industry,0
193005,2016-11-30,company53640,job0133267,US,MN,Waconia,0.0,NaN,NaN,nursing assistant,...,EN,0.0,1.0,None,6,10,1,366934,HealthCare/Nutition,0
193009,2016-11-30,company08170,job0071536,US,CA,Downey,1.0,26.0,NaN,cook,...,EN,0.0,0.0,None,33,8,3,128067,Other,0
193010,2016-11-30,company15838,job0027010,US,MI,Memphis,0.0,NaN,NaN,line cook,...,EN,0.0,0.0,None,62,4,0,216380,Other,0
193011,2016-11-30,company10715,job0016631,US,CO,Beaver Creek,0.0,NaN,NaN,server,...,EN,0.0,0.0,None,78,24,1,151786,Other,0
193015,2016-11-30,company26360,job0145491,US,OH,Ravenna,4.0,1509.0,RETAIL,salesperson,...,EN,0.0,0.0,None,0,39,3,309051,Management,0
193017,2016-11-30,company02209,job0016415,US,NC,Rocky Mount,3.7,100.0,NaN,assistant store manager,...,EN,1.0,0.0,None,80,2,0,50519,Industry,0
193019,2016-11-30,company00530,job0018052,US,ID,Post Falls,0.0,NaN,NaN,food manager,...,EN,0.0,0.0,None,77,22,0,13655,Other,0
193020,2016-11-30,company00807,job0056896,US,CA,Sylmar,4.1,29.0,NaN,shift manager,...,EN,1.0,0.0,None,41,26,0,18903,Management,0
193021,2016-11-30,company05032,job0017853,US,NY,Greenwich Village,3.6,63.0,NaN,car wash attendant,...,EN,0.0,1.0,None,77,17,0,97060,HealthCare/Nutition,0
193022,2016-11-30,company15138,job0025613,US,MO,Neosho,3.3,101.0,"BANKS_AND_FINANCIAL_SERVICES,ENERGY_AND_UTILITIES",customer service representative,...,EN,0.0,1.0,None,64,16,0,209858,CustomerService,0
193023,2016-11-30,company04862,job0123313,US,VA,Winchester,3.6,72.0,NaN,grocery associate,...,EN,0.0,0.0,None,12,39,10,95742,Industry,0
193025,2016-11-30,company47356,job0111812,US,TX,Lubbock,0.0,NaN,NaN,manager,...,EN,0.0,0.0,None,14,25,0,358046,Management,0
193026,2016-11-30,company00509,job0126273,US,MD,Cloverly,3.6,980.0,NaN,general manager,...,EN,0.0,0.0,None,8,14,0,13200,Management,0
193027,2016-11-30,company11189,job0111054,US,FL,Gainesville,3.6,59.0,NaN,retail sales associate,...,EN,0.0,0.0,None,16,87,56,161708,Industry,0
193029,2016-11-30,company03780,job0029967,US,PA,Lancaster,3.8,25.0,NaN,sales lead,...,EN,1.0,0.0,None,58,4,0,85023,Management,0
193030,2016-11-30,company01709,job0137246,US,CA,La Quinta,3.6,101.0,NaN,delivery driver,...,EN,0.0,1.0,None,4,31,5,36195,Transport,0
193032,2016-11-30,company00458,job0131600,US,PA,Mechanicsburg,0.0,NaN,NaN,fulfillment associate,...,EN,0.0,0.0,None,7,33,2,11543,Industry,0
193034,2016-11-30,company46513,job0109088,US,OK,Tulsa,0.0,NaN,NaN,merchandiser,...,EN,0.0,0.0,None,16,40,8,356873,Industry,0
193036,2016-11-30,company10613,job0112612,US,ID,Twin Falls,0.0,NaN,NaN,technical support,...,EN,0.0,0.0,None,15,25,0,150342,Engineering,0
193037,2016-11-30,company00970,job0100193,US,NC,Wilmington,3.8,39.0,NaN,lead associate,...,EN,0.0,0.0,None,21,17,3,24225,Industry,0
193039,2016-11-30,company23834,job0142429,US,HI,Lahaina,0.0,NaN,NaN,cashier,...,EN,0.0,0.0,None,1,21,10,298768,Industry,0
193044,2016-11-30,company50981,job0124318,US,NC,Durham,0.0,NaN,NaN,seasonal retail sales associate,...,EN,0.0,0.0,None,11,28,3,363423,Industry,0
193045,2016-11-30,company56070,job0142092,US,NC,Elizabethtown,0.0,NaN,NaN,nursing assistant,...,EN,0.0,1.0,None,1,65,1,369360,HealthCare/Nutition,0
193047,2016-11-30,company01709,job0088644,US,AZ,Green Valley,3.6,101.0,NaN,customer service representative,...,EN,0.0,0.0,None,25,6,0,36154,CustomerService,0

In [12]:
NoEd_LowSal.groupby(['stateProvince','Sector'])['jobId'].nunique().sort_values().reset_index()

    stateProvince               Sector  jobId
0              AK      CustomerService      1
1              NH          Engineering      1
2              FL            Education      1
3              NJ    FinancialServices      1
4              DE          Engineering      1
5              DE      CustomerService      1
6              KS            Education      1
7              DC           Management      1
8              DC          Engineering      1
9              DC      CustomerService      1
10             CT            Transport      1
11             NV            Education      1
12             NV       SocialServices      1
13             CT    FinancialServices      1
14             CT            Education      1
15             OK            Transport      1
16             OR    FinancialServices      1
17             OR            Transport      1
18             NH            Education      1
19             NE            Transport      1
20             NE       SocialServices      1
21             NE          Engineering      1
22             KS    FinancialServices      1
23             LA       SocialServices      1
24             ME           Management      1
25             MI            Education      1
26             MI    FinancialServices      1
27             ID            Education      1
28             MN    FinancialServices      1
29             MS          Engineering      1
..            ...                  ...    ...
403            TX      CustomerService     65
404            CO             Industry     68
405            IN             Industry     68
406            WI             Industry     69
407            MN             Industry     69
408            TN             Industry     70
409            PA  HealthCare/Nutition     71
410            IN                Other     72
411            MI                Other     74
412            NY                Other     75
413            IL                Other     82
414            NC             Industry     83
415            GA             Industry     84
416            CO                Other     86
417            OH             Industry     87
418            IL             Industry     87
419            OH                Other     89
420            MI             Industry     90
421            TX  HealthCare/Nutition     92
422            NY             Industry     97
423            CA      CustomerService    102
424            PA                Other    106
425            PA             Industry    116
426            CA  HealthCare/Nutition    143
427            FL             Industry    146
428            FL                Other    164
429            TX                Other    200
430            TX             Industry    203
431            CA                Other    222
432            CA             Industry    270

[433 rows x 3 columns]

In [13]:
NoEd_LowSal.groupby(['stateProvince','Sector'])['estimatedSalary'].mean().sort_values().reset_index()

    stateProvince               Sector  estimatedSalary
0              PR      CustomerService     16000.000000
1              GU                Other     16100.000000
2              KS          Engineering     16433.333333
3              DE      CustomerService     16500.000000
4              VI             Industry     17600.000000
5              DC  HealthCare/Nutition     17633.333333
6              VT             Industry     17903.658537
7              DE          Engineering     18000.000000
8              DE             Industry     18316.666667
9              LA       SocialServices     18400.000000
10             VT           Management     18400.000000
11             MS            Transport     18490.909091
12             CT            Transport     18500.000000
13             ME           Management     18500.000000
14             NM             Industry     18545.454545
15             SD  HealthCare/Nutition     18627.450980
16             MT                Other     18644.444444
17             HI  HealthCare/Nutition     18700.000000
18             PR                Other     18700.000000
19             KS                Other     18796.596859
20             WV  HealthCare/Nutition     18838.709677
21             RI            Transport     18900.000000
22             NM                Other     18902.424242
23             AR                Other     18960.897436
24             NH             Industry     18970.212766
25             HI                Other     19007.500000
26             ID          Engineering     19046.153846
27        UNKNOWN                Other     19079.591837
28             NV      CustomerService     19129.600000
29             NV                Other     19282.078853
..            ...                  ...              ...
403            LA          Engineering     24484.615385
404            TX    FinancialServices     24552.380952
405            SC       SocialServices     24553.846154
406            AK          Engineering     24600.000000
407            OK            Transport     24600.000000
408            NY    FinancialServices     24648.000000
409            AR       SocialServices     24700.000000
410            WY          Engineering     24700.000000
411            NM       SocialServices     24700.000000
412            MT            Transport     24700.000000
413            KY          Engineering     24745.454545
414            CT           Management     24784.905660
415            CO            Transport     24786.315789
416            RI  HealthCare/Nutition     24844.736842
417            FL    FinancialServices     24875.000000
418            KY       SocialServices     24886.486486
419       UNKNOWN      CustomerService     24900.000000
420            ME  HealthCare/Nutition     24937.500000
421            NC       SocialServices     25150.000000
422            CA    FinancialServices     25150.000000
423            NV            Transport     25349.180328
424            MT           Management     25400.000000
425            NV            Education     25400.000000
426            DC           Management     25500.000000
427            MI    FinancialServices     25600.000000
428       UNKNOWN       SocialServices     25700.000000
429            OR    FinancialServices     25800.000000
430            IN       SocialServices     25900.000000
431            TN       SocialServices     25900.000000
432            WV          Engineering     25900.000000

[433 rows x 3 columns]

In [17]:
NoEd_LowSal.groupby(['stateProvince','Sector'])['clicks'].sum().sort_values().reset_index()

    stateProvince               Sector  clicks
0              MT            Education       8
1              VT           Management      12
2         UNKNOWN           Management      14
3              CT            Transport      22
4              NV           Management      23
5              HI    FinancialServices      25
6              NJ    FinancialServices      34
7              NH            Education      51
8              HI            Transport      54
9              NM            Transport      63
10             DE          Engineering      72
11             SD      CustomerService      90
12             WY           Management      90
13             NV            Education      98
14             MT            Transport      99
15             OR            Transport     115
16             NV       SocialServices     116
17             SC       SocialServices     138
18             NC       SocialServices     147
19             TN       SocialServices     153
20             NH           Management     158
21             FL    FinancialServices     160
22             PR                Other     169
23             MS      CustomerService     171
24        UNKNOWN       SocialServices     181
25             PR             Industry     201
26             HI  HealthCare/Nutition     203
27             VI             Industry     205
28             RI            Education     207
29             ME           Management     214
..            ...                  ...     ...
403            MI                Other   16659
404            WI             Industry   16964
405            TX      CustomerService   17787
406            MO             Industry   17993
407            IL                Other   18133
408            IN             Industry   18389
409            GA      CustomerService   18560
410            FL      CustomerService   20273
411            OH                Other   20488
412            PA  HealthCare/Nutition   23342
413            NJ             Industry   25185
414            OH             Industry   25473
415            TN             Industry   25513
416            NC             Industry   25517
417            PA                Other   26155
418            IL             Industry   27734
419            FL  HealthCare/Nutition   28792
420            TX  HealthCare/Nutition   29104
421            MI             Industry   30665
422            NY             Industry   32514
423            CA      CustomerService   33238
424            GA             Industry   33557
425            CA  HealthCare/Nutition   34316
426            FL                Other   36528
427            PA             Industry   37231
428            TX                Other   44267
429            CA                Other   49263
430            FL             Industry   51844
431            TX             Industry   65745
432            CA             Industry   77126

[433 rows x 3 columns]

In [18]:
NoEd_LowSal.groupby(['stateProvince','Sector'])['localClicks'].sum().sort_values().reset_index()

    stateProvince               Sector  localClicks
0              NJ    FinancialServices            1
1         UNKNOWN           Management            1
2              NV           Management            1
3              RI            Transport            2
4              VT           Management            2
5              NH            Education            2
6              HI    FinancialServices            2
7              PR                Other            2
8              CT            Transport            3
9              SD      CustomerService            3
10             ME           Management            4
11             NM            Transport            4
12             DE          Engineering            5
13             WY           Management            5
14             MT           Management            6
15             IA            Transport            7
16             CT            Education            7
17             MT            Education            8
18             KY       SocialServices            9
19             KS          Engineering           11
20             VI             Industry           11
21             NH           Management           11
22             VT  HealthCare/Nutition           13
23             VT            Transport           13
24             RI            Education           13
25             NY    FinancialServices           13
26             SC       SocialServices           15
27             TN       SocialServices           16
28             WV            Transport           16
29             OR    FinancialServices           17
..            ...                  ...          ...
403            IN             Industry         3030
404            VA             Industry         3169
405            PA      CustomerService         3212
406            TX      CustomerService         3258
407            MO             Industry         3391
408            OH                Other         3569
409            IL                Other         3571
410            MI             Industry         3765
411            CO                Other         4033
412            GA      CustomerService         4053
413            FL  HealthCare/Nutition         4173
414            KY             Industry         4208
415            PA             Industry         4873
416            NC             Industry         4901
417            FL      CustomerService         4968
418            OH             Industry         5064
419            TN             Industry         5169
420            CA      CustomerService         5216
421            PA                Other         5741
422            TX  HealthCare/Nutition         5883
423            CA  HealthCare/Nutition         5957
424            IL             Industry         6050
425            NY             Industry         6139
426            FL                Other         6203
427            GA             Industry         6465
428            CA                Other         7549
429            TX                Other         9696
430            FL             Industry        10864
431            CA             Industry        13289
432            TX             Industry        15709

[433 rows x 3 columns]

In [ ]:
def create_miniframes(df):
    job_per_sector=df.groupby(['stateProvince','Sector'])['jobId'].nunique().sort_values().reset_index()
    salary_per_sector