In [8]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
read = '/home/zoro/Desktop/datafest2018/DataFest-Dataset-2018.csv/output/month2/'
#write= '/Users/Apoorva.Rajesh.Joshi@ibm.com/Desktop/Ap version/'
filename = 'nov16.csv'
df = pd.read_csv(read+filename).drop(['Unnamed: 0'], axis=1) # read the file and drop first column

In [9]:
df.shape

(746729, 24)

In [10]:
df.head()

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,estimatedSalary,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,22800,NaN,EN,0.0,0.0,High School,99,12,2,43
1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,case manager,...,42600,NaN,EN,1.0,1.0,Higher Education,19,36,24,24378
2,2016-11-01,company34117,job0070172,US,TX,Dallas,4.0,9.0,NaN,licensed clinical social worker,...,50300,NaN,EN,0.0,1.0,Higher Education,5,88,14,332460
3,2016-11-01,company05230,job0010362,US,NY,Yonkers,3.5,36.0,NaN,security,...,41500,NaN,EN,1.0,1.0,Higher Education,64,13,0,99285
4,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,22600,NaN,EN,0.0,0.0,None,14,22,0,268079

In [11]:
df.educationRequirements.unique()

array(['High School', 'Higher Education', 'None', nan], dtype=object)

In [12]:
df1 = df[df.educationRequirements.notnull()]

In [13]:
df1.shape

(746620, 24)

In [14]:
df1.educationRequirements.unique()

array(['High School', 'Higher Education', 'None'], dtype=object)

In [15]:
df1['educationLabel'] = df1.groupby(['educationRequirements']).ngroup()

/home/zoro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
df1['salaryLabel']=1

/home/zoro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
df1[df1.estimatedSalary < 26000]['salaryLabel']=0

/home/zoro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
df11 = df1[df1.estimatedSalary<26000]
df12 = df1[df1.estimatedSalary>=26000]
df121 = df12[df12.estimatedSalary<61000]
df122 = df12[df12.estimatedSalary>=61000]

In [45]:
df11['salaryLabel'] = 0

/home/zoro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
df121['salaryLabel'] = 1

/home/zoro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [47]:
df122['salaryLabel'] = 2

/home/zoro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
df2 = df11.append(df121, ignore_index=True)

In [49]:
df2 = df2.append(df122, ignore_index=True)

In [50]:
df2.shape

(746620, 26)

In [53]:
df2

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label,educationLabel,salaryLabel
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,EN,0.0,0.0,High School,99,12,2,43,0,0
1,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,EN,0.0,0.0,None,14,22,0,268079,2,0
2,2016-11-01,company34118,job0070173,US,TX,Seagoville,3.3,22.0,NaN,dietary aide,...,EN,0.0,0.0,High School,5,50,1,332463,0,0
3,2016-11-01,company21881,job0063303,US,NC,Winston-Salem,0.0,NaN,NaN,member services representative,...,EN,0.0,0.0,High School,7,28,0,282680,0,0
4,2016-11-01,company07204,job0010364,US,NJ,Vineland,0.0,NaN,NaN,direct support professional,...,EN,0.0,1.0,High School,64,23,1,119541,0,0
5,2016-11-01,company03292,job0054176,US,NE,Norfolk,4.1,330.0,INTERNET_AND_SOFTWARE,field interviewer,...,EN,0.0,1.0,None,14,35,6,79071,2,0
6,2016-11-01,company27862,job0063301,US,NY,Lagrange,0.0,NaN,NaN,member services representative,...,EN,0.0,0.0,High School,7,31,0,313333,0,0
7,2016-11-01,company07201,job0010358,US,NY,Rochester,0.0,NaN,NaN,paraprofessional,...,EN,0.0,0.0,High School,64,10,10,119522,0,0
8,2016-11-01,company04481,job0005726,US,MD,Baltimore,0.0,NaN,NaN,customer service representative,...,EN,0.0,0.0,High School,76,30,12,92410,0,0
9,2016-11-01,company24662,job0046800,US,NV,Reno,3.2,25.0,NaN,shipping and receiving clerk,...,EN,0.0,0.0,High School,19,20,2,303236,0,0
10,2016-11-01,company27757,job0054172,US,PA,Alburtis,0.0,NaN,NaN,shift manager,...,EN,1.0,0.0,None,13,20,0,312762,2,0
11,2016-11-01,company00563,job0021714,US,KY,Paducah,3.8,25.0,NaN,cashier,...,EN,0.0,0.0,None,41,13,2,14725,2,0
12,2016-11-01,company21881,job0063305,US,NC,Statesville,0.0,NaN,NaN,member services representative,...,EN,0.0,0.0,High School,8,36,21,282681,0,0
13,2016-11-01,company00737,job0024383,US,MN,Maplewood,3.8,27.0,NaN,associate,...,EN,0.0,0.0,None,38,21,2,17139,2,0
14,2016-11-01,company04464,job0005707,US,FL,Orlando,0.0,NaN,NaN,loss prevention officer,...,EN,0.0,1.0,None,76,9,3,92024,2,0
15,2016-11-01,company11733,job0018558,US,WA,Olympia,3.8,83.0,NaN,sales specialist,...,EN,0.0,0.0,High School,47,11,4,168958,0,0
16,2016-11-01,company03788,job0029026,US,TX,Tyler,0.0,NaN,NaN,visual merchandiser,...,EN,0.0,0.0,None,31,8,8,85075,2,0
17,2016-11-01,company37457,job0079793,US,AL,Birmingham,0.0,NaN,NaN,lot attendant,...,EN,0.0,1.0,High School,0,132,55,341551,0,0
18,2016-11-01,company18586,job0079794,US,NV,Reno,3.7,851.0,NaN,operator,...,EN,0.0,0.0,High School,0,20,14,251901,0,0
19,2016-11-01,company16776,job0029036,US,TN,Knoxville,3.6,151.0,TRANSPORT_AND_FREIGHT,medical services manager,...,EN,0.0,0.0,None,31,28,28,226289,2,0
20,2016-11-01,company24666,job0046808,US,CO,Denver,3.2,792.0,"CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURC...",security officer,...,EN,0.0,0.0,High School,19,18,3,303253,0,0
21,2016-11-01,company24668,job0046811,US,OH,Miamisburg,5.0,49.0,NaN,laborer,...,EN,0.0,0.0,None,19,22,5,303278,2,0
22,2016-11-01,company35156,job0073067,US,AZ,Fountain Hills,3.6,48.0,RESTAURANTS_TRAVEL_AND_LEISURE,delivery driver,...,EN,0.0,1.0,High School,3,29,3,334585,0,0
23,2016-11-01,company02146,job0057322,US,TX,Keller,0.0,NaN,NaN,food manager,...,EN,1.0,0.0,High School,11,13,1,49781,0,0
24,2016-11-01,company35157,job0073069,US,FL,Chipley,0.0,NaN,NaN,custodian,...,EN,0.0,0.0,None,3,16,3,334587,2,0
25,2016-11-01,company04832,job0079787,US,WI,New London,3.7,62.0,NaN,machine operator,...,EN,0.0,0.0,High School,0,22,2,95449,0,0
26,2016-11-01,company21966,job0040807,US,IN,North Vernon,5.0,72.0,NaN,circulation assistant,...,EN,0.0,0.0,High School,22,24,1,283338,0,0
27,2016-11-01,company01460,job0015994,US,VA,Newport News,3.5,53.0,NaN,dog trainer,...,EN,0.0,0.0,None,52,32,2,31853,2,0
28,2016-11-01,company23518,job0070998,US,NY,Huntington,3.6,151.0,NaN,residential counselor,...,EN,0.0,1.0,High School,4,19,10,296314,0,0
29,2016-11-01,company24656,job0046782,US,UNKNOWN,NaN,4.1,77.0,NaN,accounts receivable clerk,...,EN,0.0,0.0,High School,18,31,0,303213,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746590,2016-11-30,company15540,job0068084,US,CO,Aurora,4.2,734.0,EDUCATION_AND_SCHOOLS,program manager,...,EN,1.0,1.0,Higher Education,35,19,0,213574,1,2
746591,2016-11-30,company00587,job0131315,US,CA,Pleasanton,4.0,90.0,NaN,human resources manager,...,EN,1.0,0.0,None,7,4,4,15119,2,2
746592,2016-11-30,company02805,job0145515,US,MD,Aberdeen,4.3,63.0,NaN,senior subject matter expert,...,EN,1.0,1.0,Higher Education,0,32,0,74460,1,2
746593,2016-11-30,company02754,job0036037,US,MA,Worcester,3.3,50.0,NaN,solutions engineer,...,EN,0.0,0.0,Higher Education,54,20,0,73584,1,2
746594,2016-11-30,company19334,job0034677,US,MI,Dearborn,0.0,NaN,NaN,cfd engineer,...,EN,0.0,0.0,Higher Education,56,6,0,259433,1,2
746595,2016-11-30,company09385,job0056791,US,SC,Columbia,4.1,34.0,NaN,service consultant,...,EN,0.0,0.0,Higher Education,41,8,0,136849,1,2
746596,2016-11-30,company03495,job0135454,US,MD,Baltimore,0.0,NaN,NaN,electrician,...,EN,1.0,1.0,Higher Education,5,56,15,81467,1,2
746597,2016-11-30,company24717,job0083389,US,KY,Flemingsburg,0.0,NaN,NaN,occupational therapist,...,EN,0.0,1.0,Higher Education,28,7,0,303421,1,2
746598,2016-11-30,company33236,job0083356,US,IL,Lake,0.0,NaN,NaN,project manager,...,EN,0.0,1.0,Higher Education,28,14,0,330680,1,2
746599,2016-11-30,company00178,job0051826,US,FL,Orlando,3.9,64.0,NaN,team leader,...,EN,1.0,0.0,Higher Education,44,32,3,3435,1,2
746600,2016-11-30,company15264,job0025907,US,MA,Boston,3.7,64.0,FOOD_AND_BEVERAGES,senior brand manager,...,EN,1.0,0.0,Higher Education,64,25,2,211136,1,2
746601,2016-11-30,company20749,job0141865,US,FL,Saint Augustine,0.0,NaN,NaN,superintendent,...,EN,0.0,1.0,None,0,18,0,271651,2,2
746602,2016-11-30,company53655,job0133342,US,TX,Houston,0.0,NaN,NaN,.net developer,...,EN,0.0,0.0,Higher Education,7,5,0,366951,1,2
746603,2016-11-30,company04218,job0130985,US,CA,San Jose,3.7,98.0,NaN,java developer,...,EN,0.0,0.0,None,7,27,0,89115,2,2
746604,2016-11-30,company42753,job0102491,US,OH,Dayton,4.4,40.0,CONSULTING_AND_BUSINESS_SERVICES,tooling engineer,...,EN,0.0,0.0,Higher Education,20,18,0,351174,1,2
746605,2016-11-30,company47732,job0113083,US,DC,Washington,0.0,NaN,NaN,senior auditor,...,EN,0.0,0.0,Higher Education,15,14,0,358585,1,2
746606,2016-11-30,company05665,job0007554,US,GA,Brunswick,5.0,65.0,NaN,maintenance manager,...,EN,1.0,0.0,Higher Education,99,25,1,104164,1,2
746607,2016-11-30,company07703,job0100641,US,WA,Seattle,0.0,NaN,CONSULTING_AND_BUSINESS_SERVICES,regional sales manager,...,EN,0.0,1.0,Higher Education,21,7,0,123890,1,2
746608,2016-11-30,company02422,job0122960,US,NY,Purchase,0.0,NaN,NaN,contract attorney,...,EN,0.0,0.0,None,11,8,1,54483,2,2
746609,2016-11-30,company43680,job0099455,US,TX,Fort Worth,0.0,NaN,NaN,sap consultant,...,EN,0.0,0.0,Higher Education,21,39,4,352734,1,2
746610,2016-11-30,company02531,job0083970,US,NJ,Gibbstown,3.0,46.0,NaN,quality control manager,...,EN,1.0,0.0,Higher Education,27,11,0,69878,1,2
746611,2016-11-30,company38665,job0083619,US,CA,Orange,3.7,104.0,NaN,practice manager,...,EN,1.0,0.0,Higher Education,28,7,1,344483,1,2
746612,2016-11-30,company33067,job0067520,US,WA,Seattle,0.0,NaN,NaN,construction superintendent,...,EN,1.0,1.0,High School,35,16,0,329628,0,2
746613,2016-11-30,company40288,job0088984,US,CA,Visalia,0.0,NaN,NaN,nurse practitioner,...,EN,0.0,1.0,None,26,8,2,347135,2,2
746614,2016-11-30,company16727,job0083202,US,PA,Reading,3.1,26.0,TRANSPORT_AND_FREIGHT,truck driver,...,EN,0.0,1.0,None,28,7,0,225789,2,2
746615,2016-11-30,company55997,job0141921,US,NY,Woodbury,0.0,NaN,NaN,data analyst,...,EN,0.0,0.0,None,1,30,2,369258,2,2
746616,2016-11-30,company04395,job0112111,US,NY,New York,0.0,NaN,NaN,lead analyst,...,EN,0.0,0.0,None,15,21,0,90618,2,2
746617,2016-11-30,company43685,job0099468,US,CA,East Bay,5.0,91.0,NaN,computer vision engineer,...,EN,0.0,0.0,Higher Education,21,7,0,352738,1,2
746618,2016-11-30,company16361,job0028154,US,MA,Boston,3.5,102.0,HEALTH_CARE,patient experience manager,...,EN,1.0,0.0,Higher Education,61,40,7,221530,1,2
746619,2016-11-30,company19946,job0036020,US,GA,Atlanta,3.7,39.0,NaN,recruitment manager,...,EN,0.0,0.0,Higher Education,55,26,10,264642,1,2

In [56]:
df2.groupby('stateProvince')['jobId'].nunique().sort_values()

stateProvince
GU            2
VI            3
PR           28
WY           72
AK          100
VT          116
ND          118
MT          131
SD          153
RI          164
ID          167
HI          173
DE          194
WV          214
ME          233
MS          251
NH          291
UNKNOWN     296
NE          321
NM          326
AR          337
NV          393
DC          415
KS          459
OK          478
UT          499
LA          510
IA          521
AL          551
OR          611
CT          631
KY          677
SC          758
MO          944
WI         1038
TN         1077
AZ         1193
IN         1194
MD         1212
CO         1236
MN         1272
WA         1272
NJ         1551
MI         1556
MA         1614
GA         1624
NC         1733
VA         1787
OH         1988
IL         2323
PA         2462
NY         3108
FL         3224
TX         4348
CA         6393
Name: jobId, dtype: int64

In [55]:
df2[df2.educationLabel == 0].groupby('stateProvince')['jobId'].nunique().sort_values()

stateProvince
VI            1
PR            7
WY           13
VT           23
ND           26
ID           32
MT           34
AK           35
UNKNOWN      35
SD           38
RI           42
DE           49
WV           51
DC           51
HI           53
MS           65
ME           71
NH           72
NM           74
AR           90
NE           94
NV          118
KS          122
LA          127
OK          133
IA          136
UT          140
CT          140
OR          142
AL          150
KY          161
SC          208
MO          233
WI          263
MD          268
WA          273
TN          283
IN          291
CO          305
AZ          307
MA          323
NJ          330
MN          335
VA          372
GA          382
NC          413
MI          417
IL          485
OH          519
NY          570
PA          630
FL          846
TX         1149
CA         1334
Name: jobId, dtype: int64

In [57]:
df2[df2.educationLabel == 1].groupby('stateProvince')['jobId'].nunique().sort_values()

stateProvince
VI            1
GU            1
PR            8
WY           15
ND           16
MT           18
AK           21
VT           30
SD           33
RI           33
ID           33
WV           33
DE           37
HI           38
MS           38
ME           41
NH           63
AR           69
NE           75
LA           76
NV           79
NM           90
KS           97
OK           98
UT           99
IA          108
AL          116
SC          150
KY          150
UNKNOWN     155
OR          166
CT          186
MO          193
DC          212
TN          233
WI          247
IN          273
AZ          288
CO          294
MN          327
MI          362
WA          383
MD          406
NC          425
GA          449
NJ          481
OH          508
MA          557
VA          600
PA          663
IL          693
FL          701
TX          984
NY         1017
CA         1872
Name: jobId, dtype: int64

In [58]:
df2[df2.educationLabel == 2].groupby('stateProvince')['jobId'].nunique().sort_values()

stateProvince
VI            1
GU            1
PR           13
AK           44
WY           44
VT           63
ND           76
MT           79
SD           82
HI           82
RI           89
ID          102
UNKNOWN     106
DE          108
ME          121
WV          130
MS          148
DC          152
NE          152
NH          156
NM          162
AR          178
NV          196
KS          240
OK          247
UT          260
IA          277
AL          285
OR          303
CT          305
LA          307
KY          366
SC          400
MO          518
WI          528
MD          538
TN          561
AZ          598
MN          610
WA          616
IN          630
CO          637
MA          734
NJ          740
MI          777
GA          793
VA          815
NC          895
OH          961
IL         1145
PA         1169
NY         1521
FL         1677
TX         2215
CA         3187
Name: jobId, dtype: int64

In [59]:
lowEd = df2[df2.educationLabel == 2]
HSEd = df2[df2.educationLabel == 0]
HiEd = df2[df2.educationLabel == 1]

In [60]:
lowEd.shape

(352847, 26)

In [73]:
def create_mini_dataframe(df1,datevalue):
    Company_per_state = df1.groupby('stateProvince')['companyId'].nunique().sort_values()
    cps = Company_per_state.to_frame()
    cps = cps.reset_index()

    Job_per_state = df1.groupby('stateProvince')['jobId'].nunique().sort_values()
    jps = Job_per_state.to_frame()
    jps = jps.reset_index()

    estimated_salary = df1.groupby('stateProvince')['estimatedSalary'].mean().sort_values()
    es = estimated_salary.to_frame()
    es = es.reset_index()

    min_estimated_salary = df1.groupby('stateProvince')['estimatedSalary'].min().sort_values()
    mines = min_estimated_salary.to_frame()
    mines = mines.reset_index()

    max_estimated_salary = df1.groupby('stateProvince')['estimatedSalary'].max().sort_values()
    maxes = max_estimated_salary.to_frame()
    maxes = maxes.reset_index()

    total_clicks = df1.groupby('stateProvince')['clicks'].sum().sort_values()
    tc = total_clicks.to_frame()
    tc = tc.reset_index()

    total_local_clicks = df1.groupby('stateProvince')['localClicks'].sum().sort_values()
    tlc = total_local_clicks.to_frame()
    tlc = tlc.reset_index()
    

    df2 = pd.merge(cps,jps,on='stateProvince')
    df2 = pd.merge(df2,es,on='stateProvince')
    df2 = pd.merge(df2,mines,on='stateProvince')
    df2 = pd.merge(df2,maxes,on='stateProvince')
    df2 = pd.merge(df2,tc,on='stateProvince')
    df2 = pd.merge(df2,tlc,on='stateProvince')

    mean_estimatedSalary_y = df2['estimatedSalary_y'].mean(skipna=True)
    df2=df2.replace({'estimatedSalary_y': {0: mean_estimatedSalary_y}}) 

    df2.columns = ['stateProvince','companyId','jobId','mean_estimatedSalary','min_estimatedSalary','max_estimatedSalary','clicks','localClicks']

    df2['date'] = datevalue

    cols = df2.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df2 = df2[cols]
    
    return df2

In [74]:
lowEd_stat = create_mini_dataframe(lowEd,'2016-11')
HSEd_stat = create_mini_dataframe(HSEd,'2016-11')
HiEd_stat = create_mini_dataframe(HiEd,'2016-11')

In [64]:
lowEd_stat

,date,stateProvince,companyId,jobId,mean_estimatedSalary,min_estimatedSalary,max_estimatedSalary,clicks,localClicks
0,2016-11,VI,1,1,17600.000000,17600,17600,205,11
1,2016-11,GU,1,1,16100.000000,16100,16100,843,52
2,2016-11,PR,11,13,46278.915663,16000,94200,3865,223
3,2016-11,AK,34,44,41468.050542,18200,173900,11827,2234
4,2016-11,WY,38,44,42257.172557,17100,198500,8183,1451
5,2016-11,VT,51,63,40631.887202,16500,199700,15330,1426
6,2016-11,SD,56,82,45997.004280,17300,168300,12117,2139
7,2016-11,ND,68,76,39149.892704,18500,184900,16289,3724
8,2016-11,MT,68,79,44828.922092,16900,206400,14953,3051
9,2016-11,HI,72,82,40469.463415,15900,152500,18890,2963
10,2016-11,RI,72,89,43826.632801,17100,98600,27529,3620
11,2016-11,ID,89,102,46634.094053,16200,207100,25047,3341
12,2016-11,DE,92,108,45719.285182,16400,205900,29519,3834
13,2016-11,UNKNOWN,97,106,64404.438280,18100,218300,50428,4241
14,2016-11,ME,101,121,37743.880208,15100,196200,26803,3398
15,2016-11,WV,104,130,43582.060027,15000,198000,29922,3541
16,2016-11,MS,119,148,42294.102823,13400,203900,45722,7079
17,2016-11,NM,120,162,45031.569868,14300,204500,31126,6911
18,2016-11,NH,122,156,38541.914358,16500,204400,35416,4527
19,2016-11,NE,126,152,42845.758929,15400,200500,34098,10013
20,2016-11,AR,130,178,41890.203106,15400,201400,50991,7815
21,2016-11,DC,133,152,57035.614779,15100,204500,33875,5473
22,2016-11,NV,160,196,41548.878924,14900,199100,52819,15139
23,2016-11,OK,194,247,43390.305149,15800,193600,66372,12465
24,2016-11,UT,198,260,37064.083411,14900,197400,61196,8694
25,2016-11,IA,206,277,47545.506291,16300,215800,59966,8029
26,2016-11,KS,209,240,38740.479760,15700,207600,61632,11152
27,2016-11,AL,216,285,45587.182020,13500,201100,78715,11512
28,2016-11,LA,219,307,41380.913657,13400,191300,91210,14279
29,2016-11,OR,234,303,44552.134305,15500,206700,75251,13936
30,2016-11,CT,252,305,45870.562370,15200,207000,87923,9560
31,2016-11,KY,259,366,37857.223920,14900,208400,88812,17503
32,2016-11,SC,299,400,41877.083756,15400,204900,100660,13564
33,2016-11,WI,369,528,39480.216040,13300,204400,118436,18816
34,2016-11,MO,374,518,41125.404087,15800,218600,135747,18837
35,2016-11,TN,390,561,39220.318725,15300,204500,148597,25581
36,2016-11,MD,394,538,48778.233125,15800,218500,134803,15544
37,2016-11,MN,419,610,38674.329759,16100,206900,135313,19068
38,2016-11,IN,422,630,40587.880703,13100,207700,147543,25578
39,2016-11,AZ,430,598,42295.999463,15700,205300,140328,25717
40,2016-11,WA,436,616,48917.294103,15500,207300,139744,22764
41,2016-11,CO,453,637,43277.824947,15200,218500,160994,28389
42,2016-11,MA,502,734,47841.728521,15400,204500,184703,19490
43,2016-11,NJ,521,740,44949.322835,13100,198400,201710,15560
44,2016-11,MI,551,777,40375.765306,14200,204000,202796,26739
45,2016-11,GA,567,793,45078.248022,14500,207500,259195,40100
46,2016-11,NC,573,895,45985.774454,15500,208600,245393,43151
47,2016-11,VA,583,815,46528.841322,13300,218500,207868,30307
48,2016-11,OH,664,961,40358.026835,14900,211600,252894,38406
49,2016-11,PA,780,1169,42115.898051,14600,205200,316386,45139
50,2016-11,IL,789,1145,46594.428649,13300,212900,296195,51615
51,2016-11,NY,1030,1521,53533.655945,13300,208600,430111,65842
52,2016-11,FL,1049,1677,42524.318856,14200,218500,475210,84545
53,2016-11,TX,1336,2215,44410.280955,13200,211000,626520,130254
54,2016-11,CA,1905,3187,48104.274381,13400,218500,809153,113934

In [66]:
HSEd_stat

,date,stateProvince,companyId,jobId,mean_estimatedSalary,min_estimatedSalary,max_estimatedSalary,clicks,localClicks
0,2016-11,VI,1,1,43800.000000,43800,43800,140,5
1,2016-11,PR,7,7,32010.606061,20000,49900,3658,87
2,2016-11,WY,13,13,26150.000000,17900,51800,4136,1603
3,2016-11,VT,21,23,26104.533333,16100,42600,8741,1268
4,2016-11,ND,26,26,31912.812500,21200,46500,5917,1657
5,2016-11,SD,29,38,29282.481752,17900,55500,10133,2496
6,2016-11,UNKNOWN,30,35,35674.280576,21600,92600,18076,1616
7,2016-11,ID,31,32,28584.278351,15800,62700,10153,1906
8,2016-11,AK,31,35,27090.659341,17400,52800,10823,2074
9,2016-11,MT,33,34,29764.147910,17600,61200,11574,3239
10,2016-11,RI,35,42,31864.991896,17400,80500,14980,1612
11,2016-11,DE,40,49,31967.336683,17400,91700,19628,2107
12,2016-11,WV,45,51,29159.153176,14900,73800,16428,2326
13,2016-11,HI,46,53,34974.912485,14800,77700,18902,3091
14,2016-11,DC,49,51,36309.866017,16900,75300,18081,3800
15,2016-11,MS,51,65,27705.188199,15900,85800,30110,4095
16,2016-11,NM,53,74,31675.695160,17300,55400,19693,5441
17,2016-11,ME,60,71,30181.930185,14700,177000,20627,2588
18,2016-11,NH,67,72,29755.265902,17500,102600,21457,2746
19,2016-11,AR,73,90,28798.282592,15500,57300,28844,4252
20,2016-11,NE,86,94,27297.672872,16800,70500,35281,12347
21,2016-11,NV,103,118,29613.468539,14400,59900,47652,13545
22,2016-11,KS,107,122,29562.557604,16700,73200,43261,10000
23,2016-11,LA,107,127,32084.566389,14700,104500,51784,9458
24,2016-11,IA,110,136,28033.405876,15900,93300,38962,6336
25,2016-11,OK,116,133,30121.278673,15000,76600,49152,11435
26,2016-11,UT,117,140,29639.811765,15800,63900,50227,9860
27,2016-11,OR,118,142,29706.286014,16700,79400,42233,10044
28,2016-11,AL,127,150,27974.699295,15000,62600,63295,13022
29,2016-11,CT,130,140,31169.678039,14700,126800,61123,5504
30,2016-11,KY,135,161,27599.954587,15300,55300,51274,11306
31,2016-11,SC,166,208,29613.860717,14700,117000,77575,11743
32,2016-11,MO,187,233,28722.254169,14600,70700,86060,12620
33,2016-11,MD,211,268,33819.056215,15000,119800,95324,13581
34,2016-11,WI,221,263,31040.988752,15200,97800,82785,15607
35,2016-11,WA,225,273,30686.094514,14400,95700,82819,15042
36,2016-11,IN,235,291,28658.133404,14700,72600,86394,16981
37,2016-11,CO,239,305,29779.436194,15600,94400,87792,15000
38,2016-11,TN,241,283,29471.759150,15300,94300,109315,21154
39,2016-11,AZ,257,307,30108.686131,15700,71000,96927,21129
40,2016-11,MN,257,335,29029.324032,15000,81400,80167,9910
41,2016-11,MA,258,323,29852.744822,14600,82500,109957,11692
42,2016-11,VA,261,372,31068.876207,14400,100700,108590,18701
43,2016-11,NJ,271,330,31154.720000,17000,107500,124274,12015
44,2016-11,NC,292,413,30051.062022,13500,190000,170494,30386
45,2016-11,GA,302,382,31426.378513,15000,107000,146825,22332
46,2016-11,MI,352,417,28423.719590,14600,95400,152544,20654
47,2016-11,IL,379,485,30250.532704,14700,142000,189756,38265
48,2016-11,OH,423,519,28485.234189,11900,93000,186655,31272
49,2016-11,PA,453,630,29089.292543,13300,95100,198995,32072
50,2016-11,NY,460,570,31040.020611,13300,137100,240046,43350
51,2016-11,FL,698,846,31606.191355,14300,204800,339151,68543
52,2016-11,TX,797,1149,30211.924674,14100,125700,431749,102738
53,2016-11,CA,999,1334,32660.752116,13900,189500,477029,80089

In [67]:
HiEd_stat

,date,stateProvince,companyId,jobId,mean_estimatedSalary,min_estimatedSalary,max_estimatedSalary,clicks,localClicks
0,2016-11,VI,1,1,74800.000000,74800,74800,994,23
1,2016-11,GU,1,1,33500.000000,33500,33500,9,3
2,2016-11,PR,8,8,66112.903226,21600,102100,4006,208
3,2016-11,WY,13,15,55670.786517,23900,88600,5268,776
4,2016-11,ND,15,16,55623.043478,25000,103000,3810,850
5,2016-11,MT,16,18,63445.847176,23600,124900,5095,930
6,2016-11,AK,18,21,56019.780220,37800,119700,4720,400
7,2016-11,SD,24,33,69655.269321,24000,179400,7485,1621
8,2016-11,RI,27,33,64207.880911,22000,151400,10783,1104
9,2016-11,ID,28,33,62326.719577,21200,119300,9999,1649
10,2016-11,VT,29,30,60066.820276,18500,122500,8089,890
11,2016-11,WV,29,33,54125.136612,20000,203400,6744,895
12,2016-11,DE,34,37,73866.319444,18800,127500,10952,1551
13,2016-11,HI,34,38,56275.791434,27100,98200,11018,1657
14,2016-11,ME,34,41,55730.936455,22200,122800,14087,1750
15,2016-11,MS,35,38,55182.570423,20200,104000,16745,1973
16,2016-11,NH,49,63,66693.453145,17700,138000,16837,1520
17,2016-11,AR,56,69,60849.761337,27400,106500,18265,2648
18,2016-11,NE,57,75,58463.190955,20000,133200,15695,5163
19,2016-11,NM,61,90,67731.406551,17200,144700,19846,4392
20,2016-11,LA,67,76,56861.116032,18600,122500,31476,6643
21,2016-11,NV,71,79,61739.900662,18900,122400,24761,6215
22,2016-11,KS,81,97,57976.569038,22900,109900,28185,5266
23,2016-11,OK,82,98,63813.700787,19400,143100,31462,7113
24,2016-11,IA,86,108,62078.513072,19400,116800,23749,3459
25,2016-11,UT,88,99,58835.683140,20100,121100,28712,4670
26,2016-11,AL,97,116,61711.786600,22900,121900,41519,8965
27,2016-11,KY,104,150,59800.411734,17400,119500,44833,8745
28,2016-11,SC,116,150,67111.360449,21100,196500,49872,7305
29,2016-11,UNKNOWN,128,155,77753.419947,31000,150900,155794,12159
30,2016-11,OR,132,166,60714.442344,16100,132000,62460,10479
31,2016-11,CT,159,186,67830.347734,21500,172600,63204,5315
32,2016-11,MO,166,193,61815.250087,18700,141000,62165,8462
33,2016-11,TN,170,233,62805.813953,19900,132700,72405,13234
34,2016-11,DC,176,212,78817.689418,18900,146400,64730,9056
35,2016-11,IN,185,273,60391.129276,17400,187400,64061,10893
36,2016-11,WI,204,247,62679.111611,17600,136900,71068,12092
37,2016-11,AZ,231,288,64826.594493,19700,136800,96760,17479
38,2016-11,CO,243,294,64846.490385,19900,148600,100391,17800
39,2016-11,MN,254,327,65272.488372,17900,143300,89072,12512
40,2016-11,WA,282,383,73227.005348,17600,149100,111068,15139
41,2016-11,MI,301,362,67200.389369,17400,169000,127799,14028
42,2016-11,MD,316,406,67149.496306,18600,150600,129668,14137
43,2016-11,NC,319,425,67698.268148,16000,183800,162910,25653
44,2016-11,GA,353,449,68145.406706,17400,146600,159653,23101
45,2016-11,OH,369,508,65159.345657,16500,141300,146330,22759
46,2016-11,NJ,388,481,69071.416759,17700,170400,155376,10472
47,2016-11,VA,407,600,72578.446910,16200,159600,169362,19753
48,2016-11,PA,447,663,64112.334652,16100,180000,205176,30502
49,2016-11,MA,459,557,72245.236950,18000,192400,171349,15774
50,2016-11,IL,517,693,68614.798762,18100,157000,221375,40777
51,2016-11,FL,537,701,66618.023480,16000,203300,239157,38289
52,2016-11,TX,753,984,70054.459933,16000,203600,347657,74561
53,2016-11,NY,802,1017,72607.345640,18600,189800,360238,52909
54,2016-11,CA,1352,1872,75749.094294,17900,204900,573346,70261

In [69]:
HiEd.normTitle.nunique()

2521

In [75]:
HiEd

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label,educationLabel,salaryLabel
44,2016-11-01,company17189,job0077344,US,WI,Bancroft,3.0,239.0,NaN,direct service provider,...,EN,0.0,1.0,Higher Education,0,34,0,231617,1,0
68,2016-11-01,company21952,job0040784,US,NC,Raleigh,4.0,107.0,NaN,technician,...,EN,0.0,0.0,Higher Education,22,14,11,283248,1,0
102,2016-11-01,company21015,job0077426,US,NM,Albuquerque,0.0,NaN,NaN,cashier,...,EN,0.0,0.0,Higher Education,0,2,2,273579,1,0
103,2016-11-01,company21015,job0077423,US,FL,Clearwater,0.0,NaN,NaN,cashier,...,EN,0.0,0.0,Higher Education,0,29,11,273578,1,0
104,2016-11-01,company21015,job0077422,US,MI,Lansing,0.0,NaN,NaN,cashier,...,EN,0.0,0.0,Higher Education,0,6,3,273577,1,0
118,2016-11-01,company30345,job0060576,US,RI,Providence,3.0,41.0,NaN,line cook,...,EN,0.0,0.0,Higher Education,10,20,1,319909,1,0
135,2016-11-01,company24569,job0046650,US,CA,San Francisco,3.7,59.0,NaN,front desk manager,...,EN,0.0,0.0,Higher Education,19,12,4,302972,1,0
184,2016-11-01,company24631,job0046733,US,PA,Newtown,0.0,NaN,NaN,babysitter/nanny,...,EN,0.0,0.0,Higher Education,19,22,1,303089,1,0
200,2016-11-01,company05543,job0010523,US,CA,Ontario,0.0,NaN,NaN,retail sales associate,...,EN,0.0,0.0,Higher Education,63,2,0,103309,1,0
219,2016-11-01,company05543,job0010526,US,PR,MayagÃ¼ez,0.0,NaN,NaN,retail sales associate,...,EN,0.0,0.0,Higher Education,63,16,2,103311,1,0
333,2016-11-01,company07292,job0010480,US,WI,New Glarus,0.0,NaN,NaN,nursing assistant,...,EN,0.0,1.0,Higher Education,63,17,0,120370,1,0
334,2016-11-01,company34644,job0073130,US,DC,Washington,3.9,131.0,RESTAURANTS_TRAVEL_AND_LEISURE,guest service agent,...,EN,0.0,0.0,Higher Education,4,29,14,333503,1,0
477,2016-11-01,company23630,job0068104,US,CA,California City,0.0,NaN,NaN,line cook,...,EN,0.0,0.0,Higher Education,5,15,3,297334,1,0
531,2016-11-01,company02443,job0077489,US,NJ,Woodbridge,3.7,70.0,NaN,cashier,...,EN,0.0,0.0,Higher Education,1,32,2,67861,1,0
533,2016-11-01,company02443,job0077488,US,NY,Poughkeepsie,3.7,70.0,NaN,seasonal retail sales associate,...,EN,0.0,0.0,Higher Education,1,42,5,67860,1,0
593,2016-11-01,company34094,job0070118,US,GA,Atlanta,5.0,49.0,NaN,line cook,...,EN,0.0,0.0,Higher Education,5,41,12,332400,1,0
624,2016-11-01,company01120,job0054413,US,NC,Boone,3.7,32.0,NaN,retail sales associate,...,EN,0.0,0.0,Higher Education,13,16,0,27131,1,0
643,2016-11-01,company01120,job0054422,US,FL,Pembroke Pines,3.7,32.0,NaN,retail sales associate,...,EN,0.0,0.0,Higher Education,13,13,3,27134,1,0
706,2016-11-01,company03071,job0028453,US,WV,Morgantown,3.7,43.0,NaN,hair stylist,...,EN,1.0,0.0,Higher Education,32,17,17,76773,1,0
775,2016-11-01,company00892,job0073580,US,GA,Thomasville,0.0,NaN,NaN,senior customer service representative,...,EN,0.0,1.0,Higher Education,3,76,11,21606,1,0
812,2016-11-01,company30211,job0060182,US,NJ,Somerdale,3.9,27.0,NaN,usher,...,EN,0.0,0.0,Higher Education,10,13,1,319483,1,0
990,2016-11-01,company29313,job0057861,US,RI,Warwick,0.0,NaN,NaN,activity assistant,...,EN,0.0,1.0,Higher Education,12,21,0,317216,1,0
1005,2016-11-01,company32960,job0067306,US,NY,Central Valley,0.0,NaN,NaN,stock supervisor,...,EN,1.0,1.0,Higher Education,6,17,3,329421,1,0
1061,2016-11-01,company00892,job0060319,US,IL,Bolingbrook,0.0,NaN,NaN,senior customer service representative,...,EN,0.0,1.0,Higher Education,10,8,1,21596,1,0
1109,2016-11-01,company21749,job0040332,US,TX,Beaumont,0.0,NaN,NaN,nursing assistant,...,EN,0.0,1.0,Higher Education,21,10,3,280790,1,0
1252,2016-11-01,company02244,job0047507,US,WV,Charles Town,0.0,NaN,NaN,marketing associate,...,EN,0.0,0.0,Higher Education,18,14,3,52075,1,0
1298,2016-11-01,company21594,job0039996,US,MS,Shelby,0.0,NaN,NaN,retail sales associate,...,EN,0.0,0.0,Higher Education,22,31,3,279739,1,0
1311,2016-11-01,company29243,job0057697,US,UT,Ogden,0.0,NaN,NaN,school principal,...,EN,0.0,1.0,Higher Education,12,23,3,316883,1,0
1345,2016-11-01,company37503,job0079969,US,CA,Walnut,4.8,86.0,NaN,preschool teacher,...,EN,0.0,1.0,Higher Education,0,25,2,341642,1,0
1349,2016-11-01,company02443,job0060276,US,CA,Industry,3.7,70.0,NaN,seasonal retail sales associate,...,EN,0.0,0.0,Higher Education,11,25,1,67839,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746577,2016-11-30,company04639,job0130645,US,MA,Boston,4.3,19.0,NaN,senior sales executive,...,EN,0.0,0.0,Higher Education,8,20,12,93191,1,2
746578,2016-11-30,company19254,job0034533,US,CA,San Francisco Bay Area,0.0,NaN,NaN,sales analyst,...,EN,0.0,0.0,Higher Education,56,9,3,258885,1,2
746579,2016-11-30,company00995,job0135399,US,MN,Golden Valley,3.9,89.0,NaN,scientist,...,EN,0.0,0.0,Higher Education,5,23,3,25182,1,2
746581,2016-11-30,company47421,job0112031,US,SC,Charleston,2.9,135.0,NaN,clinic manager,...,EN,1.0,1.0,Higher Education,15,12,0,358121,1,2
746582,2016-11-30,company47689,job0112959,US,CA,Redwood City,0.0,NaN,NaN,project manager,...,EN,1.0,0.0,Higher Education,15,15,0,358488,1,2
746583,2016-11-30,company47557,job0112611,US,UT,Lehi,3.7,86.0,EDUCATION_AND_SCHOOLS,senior software engineer,...,EN,0.0,0.0,Higher Education,15,29,2,358330,1,2
746585,2016-11-30,company13080,job0021248,US,MA,Newton,3.0,7.0,NaN,tax accountant,...,EN,0.0,0.0,Higher Education,71,24,0,186771,1,2
746588,2016-11-30,company30223,job0060232,US,NJ,Cranbury,3.9,74.0,NaN,scientist,...,EN,0.0,0.0,Higher Education,40,38,3,319687,1,2
746589,2016-11-30,company03476,job0102739,US,MT,Kalispell,0.0,NaN,NaN,registered nurse - icu,...,EN,0.0,1.0,Higher Education,20,23,0,81348,1,2
746590,2016-11-30,company15540,job0068084,US,CO,Aurora,4.2,734.0,EDUCATION_AND_SCHOOLS,program manager,...,EN,1.0,1.0,Higher Education,35,19,0,213574,1,2
746592,2016-11-30,company02805,job0145515,US,MD,Aberdeen,4.3,63.0,NaN,senior subject matter expert,...,EN,1.0,1.0,Higher Education,0,32,0,74460,1,2
746593,2016-11-30,company02754,job0036037,US,MA,Worcester,3.3,50.0,NaN,solutions engineer,...,EN,0.0,0.0,Higher Education,54,20,0,73584,1,2
746594,2016-11-30,company19334,job0034677,US,MI,Dearborn,0.0,NaN,NaN,cfd engineer,...,EN,0.0,0.0,Higher Education,56,6,0,259433,1,2
746595,2016-11-30,company09385,job0056791,US,SC,Columbia,4.1,34.0,NaN,service consultant,...,EN,0.0,0.0,Higher Education,41,8,0,136849,1,2
746596,2016-11-30,company03495,job0135454,US,MD,Baltimore,0.0,NaN,NaN,electrician,...,EN,1.0,1.0,Higher Education,5,56,15,81467,1,2
746597,2016-11-30,company24717,job0083389,US,KY,Flemingsburg,0.0,NaN,NaN,occupational therapist,...,EN,0.0,1.0,Higher Education,28,7,0,303421,1,2
746598,2016-11-30,company33236,job0083356,US,IL,Lake,0.0,NaN,NaN,project manager,...,EN,0.0,1.0,Higher Education,28,14,0,330680,1,2
746599,2016-11-30,company00178,job0051826,US,FL,Orlando,3.9,64.0,NaN,team leader,...,EN,1.0,0.0,Higher Education,44,32,3,3435,1,2
746600,2016-11-30,company15264,job0025907,US,MA,Boston,3.7,64.0,FOOD_AND_BEVERAGES,senior brand manager,...,EN,1.0,0.0,Higher Education,64,25,2,211136,1,2
746602,2016-11-30,company53655,job0133342,US,TX,Houston,0.0,NaN,NaN,.net developer,...,EN,0.0,0.0,Higher Education,7,5,0,366951,1,2
746604,2016-11-30,company42753,job0102491,US,OH,Dayton,4.4,40.0,CONSULTING_AND_BUSINESS_SERVICES,tooling engineer,...,EN,0.0,0.0,Higher Education,20,18,0,351174,1,2
746605,2016-11-30,company47732,job0113083,US,DC,Washington,0.0,NaN,NaN,senior auditor,...,EN,0.0,0.0,Higher Education,15,14,0,358585,1,2
746606,2016-11-30,company05665,job0007554,US,GA,Brunswick,5.0,65.0,NaN,maintenance manager,...,EN,1.0,0.0,Higher Education,99,25,1,104164,1,2
746607,2016-11-30,company07703,job0100641,US,WA,Seattle,0.0,NaN,CONSULTING_AND_BUSINESS_SERVICES,regional sales manager,...,EN,0.0,1.0,Higher Education,21,7,0,123890,1,2
746609,2016-11-30,company43680,job0099455,US,TX,Fort Worth,0.0,NaN,NaN,sap consultant,...,EN,0.0,0.0,Higher Education,21,39,4,352734,1,2
746610,2016-11-30,company02531,job0083970,US,NJ,Gibbstown,3.0,46.0,NaN,quality control manager,...,EN,1.0,0.0,Higher Education,27,11,0,69878,1,2
746611,2016-11-30,company38665,job0083619,US,CA,Orange,3.7,104.0,NaN,practice manager,...,EN,1.0,0.0,Higher Education,28,7,1,344483,1,2
746617,2016-11-30,company43685,job0099468,US,CA,East Bay,5.0,91.0,NaN,computer vision engineer,...,EN,0.0,0.0,Higher Education,21,7,0,352738,1,2
746618,2016-11-30,company16361,job0028154,US,MA,Boston,3.5,102.0,HEALTH_CARE,patient experience manager,...,EN,1.0,0.0,Higher Education,61,40,7,221530,1,2
746619,2016-11-30,company19946,job0036020,US,GA,Atlanta,3.7,39.0,NaN,recruitment manager,...,EN,0.0,0.0,Higher Education,55,26,10,264642,1,2

In [78]:
HiEd[HiEd.salaryLabel == 2]['normTitle']

552343                             claims investigator
552344                          director of compliance
552345                               financial advisor
552346                                   administrator
552348                                district manager
552349                    senior marketing coordinator
552350                                        security
552352                         sustainability engineer
552353                            intelligence analyst
552354                               software engineer
552356                       senior operations manager
552359                                        engineer
552361                sales representative entry level
552362           registered nurse - medical / surgical
552363           registered nurse - medical / surgical
552364                                          editor
552366                                treasury manager
552367                              senior c developer
552371                          occupational therapist
552372                             computer instructor
552374                                   city engineer
552375    psychiatric-mental health nurse practitioner
552376                                         actuary
552378                     construction superintendent
552381                                  senior analyst
552382                             electrical engineer
552384                            marketing specialist
552385                           systems administrator
552387                                       estimator
552388                             clinical lead nurse
                              ...
746577                          senior sales executive
746578                                   sales analyst
746579                                       scientist
746581                                  clinic manager
746582                                 project manager
746583                        senior software engineer
746585                                  tax accountant
746588                                       scientist
746589                          registered nurse - icu
746590                                 program manager
746592                    senior subject matter expert
746593                              solutions engineer
746594                                    cfd engineer
746595                              service consultant
746596                                     electrician
746597                          occupational therapist
746598                                 project manager
746599                                     team leader
746600                            senior brand manager
746602                                  .net developer
746604                                tooling engineer
746605                                  senior auditor
746606                             maintenance manager
746607                          regional sales manager
746609                                  sap consultant
746610                         quality control manager
746611                                practice manager
746617                        computer vision engineer
746618                      patient experience manager
746619                             recruitment manager
Name: normTitle, Length: 116671, dtype: object