In [19]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
read = '/Users/Apoorva.Rajesh.Joshi@ibm.com/Desktop/Ap version/months/'
#write= '/Users/Apoorva.Rajesh.Joshi@ibm.com/Desktop/Ap version/'
filename = 'nov16.csv'

In [20]:
cd /Users/Apoorva.Rajesh.Joshi@ibm.com/Desktop/Ap version/months

/Users/Apoorva.Rajesh.Joshi@ibm.com/Desktop/Ap version/months

In [21]:
pwd

'/Users/Apoorva.Rajesh.Joshi@ibm.com/Desktop/Ap version/months'

In [22]:
df = pd.read_csv(read+filename).drop(['Unnamed: 0'], axis=1)

In [23]:
df.shape

(788435, 24)

In [24]:
df['label'] = df.groupby(['companyId', 'jobId']).ngroup()

In [25]:
df.label.nunique()

57303

In [26]:
df.companyId.nunique()

25278

In [27]:
df.jobId.count()

788435

In [28]:
df.companyId.count()

788435

In [29]:
df.columns

Index(['date', 'companyId', 'jobId', 'country', 'stateProvince', 'city',
       'avgOverallRating', 'numReviews', 'industry', 'normTitle',
       'normTitleCategory', 'descriptionCharacterLength',
       'descriptionWordCount', 'experienceRequired', 'estimatedSalary',
       'salaryCurrency', 'jobLanguage', 'supervisingJob', 'licenseRequiredJob',
       'educationRequirements', 'jobAgeDays', 'clicks', 'localClicks',
       'label'],
      dtype='object')

In [12]:
df.groupby('stateProvince')['companyId'].nunique().sort_values().to_csv(write+'companies_'+filename)  # no of unique companies per state per month

In [13]:
df.groupby('stateProvince')['jobId'].nunique().sort_values().to_csv(write+'jobs_'+filename)  # no of unique jobs per state per month

In [30]:
df.head(100)

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,estimatedSalary,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,22800,NaN,EN,0.0,0.0,High School,99,12,2,7
1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,case manager,...,42600,NaN,EN,1.0,1.0,Higher Education,19,36,24,4323
2,2016-11-01,company34117,job0070172,US,TX,Dallas,4.0,9.0,NaN,licensed clinical social worker,...,50300,NaN,EN,0.0,1.0,Higher Education,5,88,14,46782
3,2016-11-01,company05230,job0010362,US,NY,Yonkers,3.5,36.0,NaN,security,...,41500,NaN,EN,1.0,1.0,Higher Education,64,13,0,16876
4,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,22600,NaN,EN,0.0,0.0,None,14,22,0,36406
5,2016-11-01,company03785,job0024376,US,IA,NaN,3.4,67.0,NaN,service technician ii,...,34500,NaN,EN,1.0,1.0,High School,38,18,3,14295
6,2016-11-01,company27976,job0060502,US,NC,Charlotte,4.1,88.0,NaN,claims investigator,...,61000,NaN,EN,0.0,0.0,Higher Education,10,11,1,42782
7,2016-11-01,company16777,job0029038,US,CO,Greeley,3.0,19.0,NaN,welder,...,32800,NaN,EN,0.0,1.0,Higher Education,32,12,3,31774
8,2016-11-01,company36601,job0077381,US,FL,Sarasota,0.0,NaN,NaN,NaN,...,38800,NaN,EN,0.0,0.0,None,0,37,13,48431
9,2016-11-01,company04480,job0005725,US,CT,Hartford,3.4,70.0,HEALTH_CARE,director of compliance,...,107500,NaN,EN,1.0,1.0,Higher Education,75,12,1,15626
10,2016-11-01,company30319,job0060501,US,CA,San Francisco,4.0,91.0,NaN,financial advisor,...,66800,NaN,EN,0.0,0.0,Higher Education,10,37,5,44274
11,2016-11-01,company27756,job0054167,US,NV,Sparks,0.0,NaN,NaN,bakery clerk,...,40600,NaN,EN,0.0,0.0,None,13,4,3,42577
12,2016-11-01,company11131,job0079771,US,KY,Louisville,0.0,NaN,NaN,administrator,...,73400,NaN,EN,0.0,0.0,Higher Education,0,7,4,25755
13,2016-11-01,company21969,job0040811,US,NJ,Edison,0.0,NaN,NaN,informatica developer,...,97400,NaN,EN,0.0,0.0,None,21,6,1,38037
14,2016-11-01,company01073,job0034352,US,TN,Knoxville,3.2,62.0,FOOD_AND_BEVERAGES,district manager,...,77800,NaN,EN,1.0,1.0,Higher Education,26,27,0,4701
15,2016-11-01,company24665,job0046807,US,GA,Valdosta,4.7,18.0,NaN,diesel mechanic,...,33900,NaN,EN,0.0,1.0,High School,18,2,2,40344
16,2016-11-01,company34118,job0070173,US,TX,Seagoville,3.3,22.0,NaN,dietary aide,...,20700,NaN,EN,0.0,0.0,High School,5,50,1,46783
17,2016-11-01,company21881,job0063303,US,NC,Winston-Salem,0.0,NaN,NaN,member services representative,...,15100,NaN,EN,0.0,0.0,High School,7,28,0,37974
18,2016-11-01,company03627,job0073066,US,IL,Chicago,3.9,62.0,NaN,senior marketing coordinator,...,62900,NaN,EN,0.0,1.0,Higher Education,4,42,17,13919
19,2016-11-01,company07204,job0010364,US,NJ,Vineland,0.0,NaN,NaN,direct support professional,...,19100,NaN,EN,0.0,1.0,High School,64,23,1,20556
20,2016-11-01,company33198,job0067859,US,MA,Cambridge,4.2,107.0,"AEROSPACE_AND_DEFENSE,HEALTH_CARE",security,...,87300,NaN,EN,0.0,0.0,Higher Education,6,25,2,46285
21,2016-11-01,company33199,job0067860,US,VA,Reston,0.0,NaN,INTERNET_AND_SOFTWARE,planner,...,78900,NaN,EN,0.0,0.0,None,5,15,3,46286
22,2016-11-01,company36601,job0077383,US,NJ,Jersey City,0.0,NaN,NaN,NaN,...,42300,NaN,EN,0.0,0.0,None,0,10,5,48432
23,2016-11-01,company24660,job0046797,US,GA,Alpharetta,3.2,122.0,NaN,registered nurse,...,46200,NaN,EN,0.0,1.0,None,19,43,0,40341
24,2016-11-01,company09503,job0016008,US,FL,Lake Mary,3.7,1257.0,"BANKS_AND_FINANCIAL_SERVICES,INSURANCE",claims representative,...,37900,NaN,EN,0.0,0.0,Higher Education,52,34,1,23966
25,2016-11-01,company21977,job0040829,US,CA,Los Angeles,0.0,NaN,NaN,office assistant,...,30500,NaN,EN,0.0,0.0,None,22,21,9,38067
26,2016-11-01,company03292,job0054176,US,NE,Norfolk,4.1,330.0,INTERNET_AND_SOFTWARE,field interviewer,...,24300,NaN,EN,0.0,1.0,None,14,35,6,13254
27,2016-11-01,company00554,job0057316,US,KS,Wichita,3.9,54.0,NaN,sustainability engineer,...,90200,NaN,EN,0.0,0.0,Higher Education,12,26,9,2738
28,2016-11-01,company27862,job0063301,US,NY,Lagrange,0.0,NaN,NaN,member services representative,...,13300,NaN,EN,0.0,0.0,High School,7,31,0,42689
29,2016-11-01,company07197,job0010352,US,TX,Irving,0.0,NaN,NaN,legal secretary,...,41000,NaN,EN,0.0,0.0,None,64,30,1,20536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2016-11-01,company24666,job0046808,US,CO,Denver,3.2,792.0,"CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURC...",security officer,...,18900,NaN,EN,0.0,0.0,High School,19,18,3,40345
71,2016-11-01,company04477,job0005722,US,MI,Flint,3.7,10.0,NaN,works manager,...,53100,NaN,EN,0.0,0.0,Higher Education,76,32,5,15623
72,2016-11-01,company11730,job0018551,US,CA,Pacific Palisades,0.0,NaN,NaN,tutor,...,46700,NaN,EN,0.0,0.0,Higher Education,47,7,2,26456
73,2016-11-01,company24668,job0046811,US,OH,Miamisburg,5.0,49.0,NaN,laborer,...,23700,USD,EN,0.0,0.0,None,19,22,5,40349
74,2016-11-01,company35156,job0073067,US,AZ,Fountain Hills,3.6,48.0,RESTAURANTS_TRAVEL_AND_LEISURE,delivery driver,...,25300,USD,EN,0.0,1.0,High School,3,29,3,47337
75,2016-11-01,company10415,job0015997,US,WI,Merrill,3.0,76.0,INSURANCE,summer intern,...,56100,NaN,EN,1.0,0.0,Higher Education,52,27,1,24959
76,2016-11-01,company21968,job0040810,US,CT,Wethersfield,0.0,NaN,NaN,cnc machinist,...,33900,NaN,EN,0.0,0.0,High School,22,37,0,38036
77,2016-11-01,company13335,job0021713,US,VA,Richmond,0.0,NaN,NaN,surveillance investigator,...,38700,USD,EN,0.0,0.0,Higher Education,42,34,9,28312
78,2016-11-01,company31532,job0063307,US,WA,Spokane,0.0,NaN,NaN,fitness trainer,...,37100,NaN,EN,0.0,0.0,None,8,2,2,45127
79,2016-11-01,company02146,job0057322,US,TX,Keller,0.0,NaN,NaN,food manager,...,21800,NaN,EN,1.0,0.0,High School,11,13,1,8495
80,2016-11-01,company24669,job0046812,US,FL,Daytona Beach,3.3,5.0,NaN,claims processor,...,36300,NaN,EN,0.0,1.0,High School,19,23,2,40352
81,2016-11-01,company35157,job0073069,US,FL,Chipley,0.0,NaN,NaN,custodian,...,20400,NaN,EN,0.0,0.0,None,3,16,3,47338
82,2016-11-01,company04832,job0079787,US,WI,New London,3.7,62.0,NaN,machine operator,...,22600,USD,EN,0.0,0.0,High School,0,22,2,16164
83,2016-11-01,company04475,job0005720,US,NY,Albany,2.5,52.0,NaN,food manager,...,48400,NaN,EN,1.0,0.0,None,76,2,1,15621
84,2016-11-01,company21966,job0040807,US,IN,North Vernon,5.0,72.0,NaN,circulation assistant,...,19800,NaN,EN,0.0,0.0,High School,22,24,1,38035
85,2016-11-01,company27754,job0054159,US,CA,Benicia,0.0,NaN,NaN,receptionist,...,27000,NaN,EN,0.0,0.0,None,14,79,9,42576
86,2016-11-01,company07518,job0054153,US,NC,Raleigh,4.2,35.0,NaN,associate professor,...,51000,NaN,EN,0.0,1.0,Higher Education,14,56,21,21093
87,2016-11-01,company03956,job0046813,US,CA,Palmdale,4.1,84.0,NaN,engineer,...,101100,NaN,EN,0.0,0.0,Higher Education,19,15,1,14482
88,2016-11-01,company19163,job0034361,US,OH,Columbus,0.0,NaN,NaN,collection representative,...,31600,USD,EN,0.0,0.0,High School,26,7,3,35276
89,2016-11-01,company01460,job0015994,US,VA,Newport News,3.5,53.0,NaN,dog trainer,...,24100,NaN,EN,0.0,0.0,None,52,32,2,5653
90,2016-11-01,company21979,job0040834,US,CA,San Diego,4.1,159.0,ENERGY_AND_UTILITIES,senior counsel,...,84000,NaN,EN,0.0,0.0,None,21,7,5,38068
91,2016-11-01,company33202,job0067866,US,WI,New Berlin,3.1,20.0,NaN,inside sales representative,...,48500,NaN,EN,0.0,0.0,Higher Education,6,22,0,46291
92,2016-11-01,company07522,job0073049,US,OK,Tulsa,4.0,136.0,NaN,senior pharmacy technician,...,34100,NaN,EN,0.0,0.0,None,3,11,2,21100
93,2016-11-01,company29418,job0073051,US,CO,Denver,3.7,129.0,NaN,sales representative entry level,...,61800,NaN,EN,0.0,0.0,Higher Education,3,31,12,43672
94,2016-11-01,company23518,job0070998,US,NY,Huntington,3.6,151.0,NaN,residential counselor,...,22400,NaN,EN,0.0,1.0,High School,4,19,10,39387
95,2016-11-01,company21873,job0077398,US,NM,Raton,0.0,NaN,NaN,registered nurse - medical / surgical,...,76500,USD,EN,0.0,1.0,Higher Education,0,24,3,37931
96,2016-11-01,company21873,job0077396,US,CA,West Hills,0.0,NaN,NaN,registered nurse - medical / surgical,...,76800,USD,EN,0.0,1.0,Higher Education,0,19,1,37930
97,2016-11-01,company12678,job0029053,US,CA,Thousand Oaks,0.0,NaN,NaN,editor,...,73500,NaN,EN,1.0,0.0,Higher Education,31,40,5,27716
98,2016-11-01,company24656,job0046782,US,UNKNOWN,NaN,4.1,77.0,NaN,accounts receivable clerk,...,24600,NaN,EN,0.0,0.0,High School,18,31,0,40338
99,2016-11-01,company21991,job0040855,US,CA,Beverly Hills,3.0,28.0,NaN,surgical assistant,...,83600,NaN,EN,0.0,1.0,None,22,19,3,38074

In [31]:
df.industry.unique()

array([nan, 'HEALTH_CARE', 'FOOD_AND_BEVERAGES',
       'AEROSPACE_AND_DEFENSE,HEALTH_CARE', 'INTERNET_AND_SOFTWARE',
       'BANKS_AND_FINANCIAL_SERVICES,INSURANCE',
       'BANKS_AND_FINANCIAL_SERVICES', 'RETAIL',
       'CONSUMER_GOODS_AND_SERVICES', 'EDUCATION_AND_SCHOOLS',
       'TRANSPORT_AND_FREIGHT',
       'CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURCES_AND_STAFFING',
       'RESTAURANTS_TRAVEL_AND_LEISURE', 'INSURANCE',
       'ENERGY_AND_UTILITIES', 'CONSTRUCTION',
       'HEALTH_CARE,HUMAN_RESOURCES_AND_STAFFING',
       'CONSULTING_AND_BUSINESS_SERVICES,HEALTH_CARE',
       'AEROSPACE_AND_DEFENSE', 'COMPUTERS_AND_ELECTRONICS',
       'HUMAN_RESOURCES_AND_STAFFING', 'CONSULTING_AND_BUSINESS_SERVICES',
       'CONSTRUCTION,CONSUMER_GOODS_AND_SERVICES', 'GOVERNMENT', 'AUTO',
       'INDUSTRIAL_MANUFACTURING',
       'CONSULTING_AND_BUSINESS_SERVICES,INTERNET_AND_SOFTWARE',
       'GOVERNMENT,HEALTH_CARE', 'REAL_ESTATE', 'TELECOMMUNICATIONS',
       'BANKS_AND_FINANCIAL_SERVICES,REAL_ESTATE',
       'AGRICULTURE_AND_EXTRACTION', 'ORGANIZATION',
       'CONSUMER_GOODS_AND_SERVICES,FOOD_AND_BEVERAGES',
       'CONSTRUCTION,INDUSTRIAL_MANUFACTURING',
       'CONSTRUCTION,CONSULTING_AND_BUSINESS_SERVICES,REAL_ESTATE',
       'MEDIA_NEWS_AND_PUBLISHING',
       'CONSUMER_GOODS_AND_SERVICES,INDUSTRIAL_MANUFACTURING',
       'HEALTH_CARE,INDUSTRIAL_MANUFACTURING',
       'AGRICULTURE_AND_EXTRACTION,CONSUMER_GOODS_AND_SERVICES',
       'AEROSPACE_AND_DEFENSE,INDUSTRIAL_MANUFACTURING',
       'BANKS_AND_FINANCIAL_SERVICES,HEALTH_CARE',
       'AGRICULTURE_AND_EXTRACTION,RETAIL',
       'FOOD_AND_BEVERAGES,INDUSTRIAL_MANUFACTURING',
       'AUTO,BANKS_AND_FINANCIAL_SERVICES',
       'CONSULTING_AND_BUSINESS_SERVICES,RETAIL',
       'HEALTH_CARE,ORGANIZATION',
       'CONSULTING_AND_BUSINESS_SERVICES,TRANSPORT_AND_FREIGHT',
       'PHARMACEUTICALS',
       'INTERNET_AND_SOFTWARE,MEDIA_NEWS_AND_PUBLISHING,TELECOMMUNICATIONS',
       'CONSUMER_GOODS_AND_SERVICES,RETAIL',
       'EDUCATION_AND_SCHOOLS,HEALTH_CARE',
       'CONSULTING_AND_BUSINESS_SERVICES,GOVERNMENT',
       'INDUSTRIAL_MANUFACTURING,INSURANCE',
       'INDUSTRIAL_MANUFACTURING,TRANSPORT_AND_FREIGHT',
       'ENERGY_AND_UTILITIES,INDUSTRIAL_MANUFACTURING',
       'INSURANCE,MEDIA_NEWS_AND_PUBLISHING',
       'BANKS_AND_FINANCIAL_SERVICES,CONSTRUCTION',
       'INTERNET_AND_SOFTWARE,MEDIA_NEWS_AND_PUBLISHING',
       'HEALTH_CARE,INSURANCE', 'COMPUTERS_AND_ELECTRONICS,RETAIL',
       'INDUSTRIAL_MANUFACTURING,RETAIL',
       'BANKS_AND_FINANCIAL_SERVICES,ENERGY_AND_UTILITIES',
       'INDUSTRIAL_MANUFACTURING,TELECOMMUNICATIONS',
       'AUTO,TRANSPORT_AND_FREIGHT', 'CONSTRUCTION,REAL_ESTATE',
       'AUTO,RESTAURANTS_TRAVEL_AND_LEISURE',
       'ENERGY_AND_UTILITIES,PHARMACEUTICALS',
       'COMPUTERS_AND_ELECTRONICS,ENERGY_AND_UTILITIES',
       'CONSTRUCTION,ENERGY_AND_UTILITIES',
       'FOOD_AND_BEVERAGES,TRANSPORT_AND_FREIGHT',
       'HUMAN_RESOURCES_AND_STAFFING,INTERNET_AND_SOFTWARE',
       'CONSULTING_AND_BUSINESS_SERVICES,TELECOMMUNICATIONS',
       'CONSTRUCTION,CONSULTING_AND_BUSINESS_SERVICES',
       'BANKS_AND_FINANCIAL_SERVICES,CONSULTING_AND_BUSINESS_SERVICES',
       'AEROSPACE_AND_DEFENSE,HUMAN_RESOURCES_AND_STAFFING'], dtype=object)

In [32]:
dic = {'Agriculture':['AGRICULTURE_AND_EXTRACTION','AGRICULTURE_AND_EXTRACTION,CONSUMER_GOODS_AND_SERVICES'],
       'Construction':['CONSTRUCTION','REAL_ESTATE','CONSTRUCTION,CONSULTING_AND_BUSINESS_SERVICES,REAL_ESTATE',
                       'CONSTRUCTION,REAL_ESTATE','CONSTRUCTION,ENERGY_AND_UTILITIES',
                       'CONSTRUCTION,CONSULTING_AND_BUSINESS_SERVICES'],
       'Manufacturing':['FOOD_AND_BEVERAGES','RETAIL','CONSUMER_GOODS_AND_SERVICES','CONSTRUCTION,CONSUMER_GOODS_AND_SERVICES',
                        'AUTO','INDUSTRIAL_MANUFACTURING','CONSUMER_GOODS_AND_SERVICES,FOOD_AND_BEVERAGES',
                        'CONSTRUCTION,INDUSTRIAL_MANUFACTURING',
                       'CONSUMER_GOODS_AND_SERVICES,INDUSTRIAL_MANUFACTURING','PHARMACEUTICALS',
                        'CONSUMER_GOODS_AND_SERVICES,RETAIL',
                        'COMPUTERS_AND_ELECTRONICS,RETAIL','INDUSTRIAL_MANUFACTURING,RETAIL',
                        'INDUSTRIAL_MANUFACTURING,TELECOMMUNICATIONS'
                       ],
       'Transportation and Warehousing':['TRANSPORT_AND_FREIGHT','TRANSPORT_AND_FREIGHT',
                                         'CONSULTING_AND_BUSINESS_SERVICES,TRANSPORT_AND_FREIGHT',
                                         'INDUSTRIAL_MANUFACTURING,TRANSPORT_AND_FREIGHT','AUTO,TRANSPORT_AND_FREIGHT',
                                         'FOOD_AND_BEVERAGES,TRANSPORT_AND_FREIGHT'],
       'Utilities':['ENERGY_AND_UTILITIES','ENERGY_AND_UTILITIES,INDUSTRIAL_MANUFACTURING',
                    'ENERGY_AND_UTILITIES,PHARMACEUTICALS'],
       'Information':['INTERNET_AND_SOFTWARE','COMPUTERS_AND_ELECTRONICS','TELECOMMUNICATIONS',
                      'MEDIA_NEWS_AND_PUBLISHING','INTERNET_AND_SOFTWARE,MEDIA_NEWS_AND_PUBLISHING,TELECOMMUNICATIONS',
                      'INTERNET_AND_SOFTWARE,MEDIA_NEWS_AND_PUBLISHING','COMPUTERS_AND_ELECTRONICS,ENERGY_AND_UTILITIES'],
       'Financial Activities':['BANKS_AND_FINANCIAL_SERVICES,INSURANCE','BANKS_AND_FINANCIAL_SERVICES','INSURANCE',
                               'BANKS_AND_FINANCIAL_SERVICES,REAL_ESTATE',
                               'AUTO,BANKS_AND_FINANCIAL_SERVICES','INDUSTRIAL_MANUFACTURING,INSURANCE',
                               'INSURANCE,MEDIA_NEWS_AND_PUBLISHING','HEALTH_CARE,INSURANCE',
                               'BANKS_AND_FINANCIAL_SERVICES,ENERGY_AND_UTILITIES','BANKS_AND_FINANCIAL_SERVICES,CONSTRUCTION',
                               'BANKS_AND_FINANCIAL_SERVICES,CONSULTING_AND_BUSINESS_SERVICES'  
                              ],
       'Business':['CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURCES_AND_STAFFING',
                   'HEALTH_CARE,HUMAN_RESOURCES_AND_STAFFING',
                  'CONSULTING_AND_BUSINESS_SERVICES,HEALTH_CARE','HUMAN_RESOURCES_AND_STAFFING',
                   'CONSULTING_AND_BUSINESS_SERVICES,INTERNET_AND_SOFTWARE',
                   'CONSULTING_AND_BUSINESS_SERVICES,RETAIL',
                   'HUMAN_RESOURCES_AND_STAFFING,INTERNET_AND_SOFTWARE',
                   'CONSULTING_AND_BUSINESS_SERVICES,TELECOMMUNICATIONS'
                  ],
       'Education':['EDUCATION_AND_SCHOOLS','CONSULTING_AND_BUSINESS_SERVICES','EDUCATION_AND_SCHOOLS,HEALTH_CARE'],       
       'Healthcare':['HEALTH_CARE','HEALTH_CARE,INDUSTRIAL_MANUFACTURING','HEALTH_CARE,ORGANIZATION'], 
       'Hospitality':['RESTAURANTS_TRAVEL_AND_LEISURE','AUTO,RESTAURANTS_TRAVEL_AND_LEISURE'],
       'Government':['AEROSPACE_AND_DEFENSE,HEALTH_CARE','AEROSPACE_AND_DEFENSE','GOVERNMENT','GOVERNMENT,HEALTH_CARE',
                     'AEROSPACE_AND_DEFENSE,INDUSTRIAL_MANUFACTURING',
                     'CONSULTING_AND_BUSINESS_SERVICES,GOVERNMENT','AEROSPACE_AND_DEFENSE,HUMAN_RESOURCES_AND_STAFFING'
                    ],
       'Other Services':['ORGANIZATION']
       
}

In [53]:
df['industrynew'] = df['industry']

In [57]:
df['industrynew'].nunique()

75

In [59]:
df.loc[df['industrynew'] == 'Healthcare']

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label,industrynew
1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,case manager,...,NaN,EN,1.0,1.0,Higher Education,19,36,24,4323,Healthcare
9,2016-11-01,company04480,job0005725,US,CT,Hartford,3.4,70.0,HEALTH_CARE,director of compliance,...,NaN,EN,1.0,1.0,Higher Education,75,12,1,15626,Healthcare
200,2016-11-01,company02481,job0067836,US,WA,Seattle,0.0,NaN,HEALTH_CARE,patient services representative,...,NaN,EN,0.0,1.0,Higher Education,6,13,2,11204,Healthcare
202,2016-11-01,company35168,job0077345,US,CA,Sacramento,3.4,113.0,HEALTH_CARE,registered nurse - catheterization lab,...,NaN,EN,0.0,1.0,None,0,20,0,47356,Healthcare
203,2016-11-01,company35168,job0077348,US,CA,Fountain Valley,3.4,113.0,HEALTH_CARE,registered nurse - oncology,...,NaN,EN,0.0,1.0,None,0,12,0,47357,Healthcare
242,2016-11-01,company00671,job0028976,US,MD,Catonsville,3.2,254.0,HEALTH_CARE,internal communications executive,...,NaN,EN,1.0,0.0,Higher Education,32,25,0,3115,Healthcare
247,2016-11-01,company14622,job0024442,US,WI,Milwaukee,3.5,87.0,HEALTH_CARE,intake specialist,...,NaN,EN,0.0,1.0,Higher Education,38,22,13,29614,Healthcare
288,2016-11-01,company00225,job0034388,US,CA,San Diego,4.2,6716.0,HEALTH_CARE,surgical technician,...,NaN,EN,0.0,1.0,None,27,18,3,1097,Healthcare
301,2016-11-01,company13540,job0079796,US,NY,Oswego,2.9,68.0,HEALTH_CARE,office assistant,...,NaN,EN,0.0,0.0,High School,0,78,23,28541,Healthcare
315,2016-11-01,company00225,job0005695,US,CA,Fremont,4.2,6716.0,HEALTH_CARE,psychology associate,...,NaN,EN,0.0,1.0,None,76,10,0,1082,Healthcare
344,2016-11-01,company21393,job0046828,US,CA,San Jose,4.1,175.0,HEALTH_CARE,registered nurse ii,...,NaN,EN,0.0,1.0,None,19,27,3,37502,Healthcare
371,2016-11-01,company05029,job0054255,US,TX,San Antonio,3.9,175.0,HEALTH_CARE,dietary technician,...,NaN,EN,0.0,0.0,High School,14,31,16,16498,Healthcare
379,2016-11-01,company05029,job0054254,US,TX,San Antonio,3.9,175.0,HEALTH_CARE,billing coordinator,...,NaN,EN,1.0,0.0,Higher Education,14,24,0,16497,Healthcare
388,2016-11-01,company05751,job0024298,US,TX,Odessa,4.8,99.0,HEALTH_CARE,physical therapist,...,NaN,EN,0.0,1.0,None,38,13,13,17970,Healthcare
399,2016-11-01,company15240,job0060564,US,KY,Lexington,0.0,NaN,HEALTH_CARE,customer service representative,...,NaN,EN,0.0,1.0,High School,10,19,5,30350,Healthcare
406,2016-11-01,company12779,job0029120,US,NY,Brooklyn,3.5,138.0,HEALTH_CARE,nurse practitioner,...,NaN,EN,0.0,1.0,Higher Education,31,7,7,27801,Healthcare
429,2016-11-01,company14955,job0029114,US,TX,Round Rock,2.8,61.0,HEALTH_CARE,registrar,...,NaN,EN,0.0,0.0,None,31,18,3,29993,Healthcare
457,2016-11-01,company24566,job0046644,US,NY,Chester,3.6,60.0,HEALTH_CARE,licensed practical nurse,...,NaN,EN,0.0,1.0,None,19,20,3,40275,Healthcare
475,2016-11-01,company01752,job0029146,US,TX,Pasadena,2.6,17.0,HEALTH_CARE,registered nurse,...,NaN,EN,0.0,1.0,None,31,29,0,6845,Healthcare
532,2016-11-01,company17509,job0054275,US,MI,Portage,3.2,105.0,HEALTH_CARE,registered nurse case manager,...,NaN,EN,0.0,1.0,None,13,27,1,32871,Healthcare
541,2016-11-01,company08740,job0060570,US,OK,Oklahoma City,3.6,185.0,HEALTH_CARE,nursing assistant,...,NaN,EN,0.0,1.0,High School,10,19,19,22817,Healthcare
559,2016-11-01,company06166,job0067891,US,NJ,Camden,3.7,269.0,HEALTH_CARE,senior information technology manager,...,NaN,EN,1.0,1.0,Higher Education,6,35,3,18803,Healthcare
647,2016-11-01,company31507,job0063264,US,CA,Lynwood,3.9,188.0,HEALTH_CARE,pharmacist,...,NaN,EN,0.0,1.0,None,7,29,2,45117,Healthcare
660,2016-11-01,company00225,job0016037,US,GA,Duluth,4.2,6716.0,HEALTH_CARE,registered nurse,...,NaN,EN,0.0,1.0,Higher Education,52,21,2,1088,Healthcare
663,2016-11-01,company04549,job0005812,US,FL,Sarasota,4.1,109.0,HEALTH_CARE,licensed practical nurse,...,NaN,EN,0.0,1.0,None,76,9,3,15676,Healthcare
735,2016-11-01,company05242,job0079862,US,WA,Seattle,0.0,NaN,HEALTH_CARE,registered nurse - emergency room,...,NaN,EN,0.0,1.0,None,0,10,5,16896,Healthcare
744,2016-11-01,company03081,job0073179,US,WA,Granger,3.5,59.0,HEALTH_CARE,medical assistant,...,NaN,EN,0.0,1.0,High School,4,37,2,12836,Healthcare
775,2016-11-01,company15092,job0063498,US,PA,Philadelphia,3.0,79.0,HEALTH_CARE,nursing assistant,...,NaN,EN,0.0,1.0,High School,7,36,26,30119,Healthcare
794,2016-11-01,company17045,job0060409,US,MD,Rockville,4.2,63.0,HEALTH_CARE,case manager,...,USD,EN,1.0,0.0,None,10,14,1,32036,Healthcare
811,2016-11-01,company33145,job0067745,US,VA,Culpeper,3.6,97.0,HEALTH_CARE,utility worker,...,NaN,EN,0.0,0.0,High School,6,30,7,46258,Healthcare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787805,2016-11-30,company04340,job0131319,US,FL,Largo,3.0,23.0,HEALTH_CARE,registered nurse - icu,...,NaN,EN,0.0,1.0,None,7,26,1,15260,Healthcare
787832,2016-11-30,company51580,job0126450,US,IN,South Bend,4.0,48.0,HEALTH_CARE,transporter,...,NaN,EN,0.0,1.0,High School,9,69,23,55352,Healthcare
787859,2016-11-30,company20230,job0122962,US,PA,Topton,2.6,120.0,HEALTH_CARE,activities director,...,NaN,EN,0.0,1.0,High School,12,19,2,36301,Healthcare
787875,2016-11-30,company10769,job0016710,US,TN,Nashville,3.4,110.0,HEALTH_CARE,registered nurse,...,NaN,EN,1.0,1.0,None,79,25,6,25334,Healthcare
787878,2016-11-30,company01101,job0020905,US,CA,NaN,3.7,42.0,HEALTH_CARE,licensed vocational nurse,...,NaN,EN,0.0,1.0,None,72,15,0,4830,Healthcare
787889,2016-11-30,company00225,job0088246,US,CA,Santa Ana,4.2,6716.0,HEALTH_CARE,behavioral health manager,...,NaN,EN,1.0,1.0,Higher Education,26,10,0,1120,Healthcare
787902,2016-11-30,company47182,job0111190,US,FL,NaN,0.0,NaN,HEALTH_CARE,orthopedist,...,NaN,EN,0.0,0.0,Higher Education,15,20,0,53570,Healthcare
787916,2016-11-30,company11361,job0017744,US,DC,Washington,3.3,63.0,HEALTH_CARE,mental health technician,...,NaN,EN,0.0,0.0,High School,77,8,0,26003,Healthcare
787982,2016-11-30,company01599,job0017876,US,NC,King,3.7,596.0,HEALTH_CARE,physician assistant,...,NaN,EN,0.0,1.0,Higher Education,77,26,0,6118,Healthcare
788001,2016-11-30,company12735,job0102480,US,TN,Germantown,4.2,202.0,HEALTH_CARE,registered nurse - infusion,...,NaN,EN,0.0,1.0,None,20,23,0,27782,Healthcare
788015,2016-11-30,company07772,job0120237,US,CA,San Jose,4.8,97.0,HEALTH_CARE,speech language pathologist,...,NaN,EN,0.0,1.0,Higher Education,13,16,9,21406,Healthcare
788026,2016-11-30,company36347,job0132683,US,TX,Austin,2.9,116.0,HEALTH_CARE,registered nurse,...,NaN,EN,0.0,1.0,Higher Education,7,28,15,48264,Healthcare
788036,2016-11-30,company02728,job0037790,US,IL,Decatur,3.6,45.0,HEALTH_CARE,recreation therapist,...,NaN,EN,0.0,1.0,None,54,36,1,12114,Healthcare
788039,2016-11-30,company12178,job0034675,US,PA,Camp Hill,3.5,174.0,HEALTH_CARE,medical assistant,...,NaN,EN,0.0,1.0,None,55,9,0,27050,Healthcare
788060,2016-11-30,company50851,job0123793,US,MO,Belton,0.0,NaN,HEALTH_CARE,medical technologist,...,NaN,EN,0.0,1.0,Higher Education,11,20,0,55080,Healthcare
788061,2016-11-30,company13829,job0119665,US,OH,Cincinnati,3.8,127.0,HEALTH_CARE,executive director,...,NaN,EN,1.0,0.0,None,13,10,0,28838,Healthcare
788069,2016-11-30,company40659,job0120088,US,CA,Monterey Park,3.3,75.0,HEALTH_CARE,field coordinator,...,NaN,EN,0.0,0.0,High School,13,14,0,50618,Healthcare
788071,2016-11-30,company00914,job0036476,US,TX,Dallas,4.0,156.0,HEALTH_CARE,medical technologist,...,NaN,EN,0.0,1.0,Higher Education,54,29,12,4129,Healthcare
788114,2016-11-30,company25090,job0140135,US,OH,Canton,3.9,140.0,HEALTH_CARE,administrative assistant,...,NaN,EN,1.0,1.0,Higher Education,2,370,70,40707,Healthcare
788119,2016-11-30,company01251,job0130089,US,FL,Hollywood,4.2,478.0,HEALTH_CARE,patient services representative,...,NaN,EN,0.0,1.0,High School,8,8,0,5173,Healthcare
788142,2016-11-30,company05691,job0089289,US,NM,Santa Fe,0.0,NaN,HEALTH_CARE,service technician,...,NaN,EN,0.0,1.0,None,26,8,0,17908,Healthcare
788152,2016-11-30,company17172,job0124168,US,FL,Aventura,0.0,NaN,HEALTH_CARE,resident director,...,NaN,EN,1.0,1.0,None,11,13,0,32324,Healthcare
788181,2016-11-30,company01123,job0112240,US,OH,Columbus,4.1,74.0,HEALTH_CARE,quality assurance analyst,...,NaN,EN,1.0,0.0,Higher Education,15,43,9,4896,Healthcare
788188,2016-11-30,company01539,job0083997,US,GA,NaN,3.9,71.0,HEALTH_CARE,orthopedist,...,NaN,EN,0.0,0.0,None,27,26,0,5942,Healthcare
788191,2016-11-30,company14472,job0111007,US,ME,Augusta,3.2,54.0,HEALTH_CARE,echocardiologist,...,NaN,EN,0.0,1.0,Higher Education,16,10,1,29449,Healthcare
788197,2016-11-30,company45808,job0106248,US,AZ,Flagstaff,3.0,51.0,HEALTH_CARE,case manager,...,USD,EN,0.0,1.0,None,19,23,4,52956,Healthcare
788229,2016-11-30,company24316,job0123589,US,CA,Modesto,3.4,82.0,HEALTH_CARE,clinical technician,...,NaN,EN,0.0,1.0,High School,11,6,0,40030,Healthcare
788262,2016-11-30,company29031,job0126127,US,WA,Spokane,3.0,130.0,HEALTH_CARE,occupational therapist,...,NaN,EN,0.0,1.0,None,9,25,18,43437,Healthcare
788277,2016-11-30,company13829,job0145490,US,OH,Lebanon,3.8,127.0,HEALTH_CARE,caterer,...,NaN,EN,0.0,0.0,High School,0,35,0,28840,Healthcare
788432,2016-11-30,company16361,job0028154,US,MA,Boston,3.5,102.0,HEALTH_CARE,patient experience manager,...,NaN,EN,1.0,0.0,Higher Education,61,40,7,31348,Healthcare

In [62]:
df['industrynew'].nunique()

73

In [68]:
df['industrynew'].replace(['HEALTH_CARE','HEALTH_CARE,INDUSTRIAL_MANUFACTURING',
                           'HEALTH_CARE,ORGANIZATION','BANKS_AND_FINANCIAL_SERVICES,HEALTH_CARE'], 
                          'Healthcare',inplace=True)
df['industrynew'].replace(['ORGANIZATION'], 'Other Services',inplace = True)
df['industrynew'].replace(['AEROSPACE_AND_DEFENSE,HEALTH_CARE',
                                            'AEROSPACE_AND_DEFENSE','GOVERNMENT',
                                            'GOVERNMENT,HEALTH_CARE',
                                             'AEROSPACE_AND_DEFENSE,INDUSTRIAL_MANUFACTURING',
                                             'CONSULTING_AND_BUSINESS_SERVICES,GOVERNMENT',
                                            'AEROSPACE_AND_DEFENSE,HUMAN_RESOURCES_AND_STAFFING'
                                            ], 'Government',inplace = True)
df['industrynew'].replace(['RESTAURANTS_TRAVEL_AND_LEISURE',
                                            'AUTO,RESTAURANTS_TRAVEL_AND_LEISURE'],
                                           'Hospitality',inplace = True)
df['industrynew'].replace(['EDUCATION_AND_SCHOOLS','CONSULTING_AND_BUSINESS_SERVICES',
                                            'EDUCATION_AND_SCHOOLS,HEALTH_CARE'], 
                                           'Education',inplace = True)
df['industrynew'].replace(['CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURCES_AND_STAFFING',
                   'HEALTH_CARE,HUMAN_RESOURCES_AND_STAFFING',
                  'CONSULTING_AND_BUSINESS_SERVICES,HEALTH_CARE',
                 'HUMAN_RESOURCES_AND_STAFFING',
                   'CONSULTING_AND_BUSINESS_SERVICES,INTERNET_AND_SOFTWARE',
                   'CONSULTING_AND_BUSINESS_SERVICES,RETAIL',
                   'HUMAN_RESOURCES_AND_STAFFING,INTERNET_AND_SOFTWARE',
                   'CONSULTING_AND_BUSINESS_SERVICES,TELECOMMUNICATIONS'
                  ], 'Business',inplace = True)
df['industrynew'].replace(['BANKS_AND_FINANCIAL_SERVICES,INSURANCE',
                                            'BANKS_AND_FINANCIAL_SERVICES','INSURANCE',
                               'BANKS_AND_FINANCIAL_SERVICES,REAL_ESTATE',
                               'AUTO,BANKS_AND_FINANCIAL_SERVICES','INDUSTRIAL_MANUFACTURING,INSURANCE',
                               'INSURANCE,MEDIA_NEWS_AND_PUBLISHING','HEALTH_CARE,INSURANCE',
                               'BANKS_AND_FINANCIAL_SERVICES,ENERGY_AND_UTILITIES',
                                 'BANKS_AND_FINANCIAL_SERVICES,CONSTRUCTION',
                               'BANKS_AND_FINANCIAL_SERVICES,CONSULTING_AND_BUSINESS_SERVICES'  
                              ], 'Financial Activities',inplace = True)
df['industrynew'].replace(['INTERNET_AND_SOFTWARE','COMPUTERS_AND_ELECTRONICS',
                                            'TELECOMMUNICATIONS',
                                              'MEDIA_NEWS_AND_PUBLISHING',
                                            'INTERNET_AND_SOFTWARE,MEDIA_NEWS_AND_PUBLISHING,TELECOMMUNICATIONS',
                                              'INTERNET_AND_SOFTWARE,MEDIA_NEWS_AND_PUBLISHING',
                                            'COMPUTERS_AND_ELECTRONICS,ENERGY_AND_UTILITIES'], 
                                           'Information',inplace = True)
df['industrynew'].replace(['TRANSPORT_AND_FREIGHT','TRANSPORT_AND_FREIGHT',
                                         'CONSULTING_AND_BUSINESS_SERVICES,TRANSPORT_AND_FREIGHT',
                                         'INDUSTRIAL_MANUFACTURING,TRANSPORT_AND_FREIGHT',
                                            'AUTO,TRANSPORT_AND_FREIGHT',
                                         'FOOD_AND_BEVERAGES,TRANSPORT_AND_FREIGHT'], 
                                           'Transportation and Warehousing',inplace = True)
df['industrynew'].replace(['FOOD_AND_BEVERAGES','RETAIL','CONSUMER_GOODS_AND_SERVICES','CONSTRUCTION,CONSUMER_GOODS_AND_SERVICES',
                        'AUTO','INDUSTRIAL_MANUFACTURING','CONSUMER_GOODS_AND_SERVICES,FOOD_AND_BEVERAGES',
                        'CONSTRUCTION,INDUSTRIAL_MANUFACTURING',
                       'CONSUMER_GOODS_AND_SERVICES,INDUSTRIAL_MANUFACTURING','PHARMACEUTICALS',
                        'CONSUMER_GOODS_AND_SERVICES,RETAIL',
                        'COMPUTERS_AND_ELECTRONICS,RETAIL','INDUSTRIAL_MANUFACTURING,RETAIL',
                        'INDUSTRIAL_MANUFACTURING,TELECOMMUNICATIONS','FOOD_AND_BEVERAGES,INDUSTRIAL_MANUFACTURING','AGRICULTURE_AND_EXTRACTION,RETAIL',
                       ], 'Manufacturing_and_Retail',inplace = True)
df['industrynew'].replace(['CONSTRUCTION','REAL_ESTATE','CONSTRUCTION,CONSULTING_AND_BUSINESS_SERVICES,REAL_ESTATE',
                       'CONSTRUCTION,REAL_ESTATE','CONSTRUCTION,ENERGY_AND_UTILITIES',
                       'CONSTRUCTION,CONSULTING_AND_BUSINESS_SERVICES'], 'Construction',inplace = True)
df['industrynew'].replace(['ENERGY_AND_UTILITIES','ENERGY_AND_UTILITIES,INDUSTRIAL_MANUFACTURING',
                    'ENERGY_AND_UTILITIES,PHARMACEUTICALS'], 'Utilities',inplace = True)

df['industrynew'].replace(['AGRICULTURE_AND_EXTRACTION','AGRICULTURE_AND_EXTRACTION,CONSUMER_GOODS_AND_SERVICES'], 'Agriculture',inplace = True)

In [70]:
df['industrynew'].nunique()

14

In [49]:
df.head()

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label,industrynew
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,NaN,EN,0.0,0.0,High School,99,12,2,7,NaN
1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,case manager,...,NaN,EN,1.0,1.0,Higher Education,19,36,24,4323,Healthcare
2,2016-11-01,company34117,job0070172,US,TX,Dallas,4.0,9.0,NaN,licensed clinical social worker,...,NaN,EN,0.0,1.0,Higher Education,5,88,14,46782,NaN
3,2016-11-01,company05230,job0010362,US,NY,Yonkers,3.5,36.0,NaN,security,...,NaN,EN,1.0,1.0,Higher Education,64,13,0,16876,NaN
4,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,NaN,EN,0.0,0.0,None,14,22,0,36406,NaN

In [52]:
df.industrynew.unique()

array([nan, 'HEALTH_CARE', 'FOOD_AND_BEVERAGES',
       'AEROSPACE_AND_DEFENSE,HEALTH_CARE', 'INTERNET_AND_SOFTWARE',
       'BANKS_AND_FINANCIAL_SERVICES,INSURANCE',
       'BANKS_AND_FINANCIAL_SERVICES', 'RETAIL',
       'CONSUMER_GOODS_AND_SERVICES', 'EDUCATION_AND_SCHOOLS',
       'TRANSPORT_AND_FREIGHT',
       'CONSULTING_AND_BUSINESS_SERVICES,HUMAN_RESOURCES_AND_STAFFING',
       'RESTAURANTS_TRAVEL_AND_LEISURE', 'INSURANCE',
       'ENERGY_AND_UTILITIES', 'CONSTRUCTION',
       'HEALTH_CARE,HUMAN_RESOURCES_AND_STAFFING',
       'CONSULTING_AND_BUSINESS_SERVICES,HEALTH_CARE',
       'AEROSPACE_AND_DEFENSE', 'COMPUTERS_AND_ELECTRONICS',
       'HUMAN_RESOURCES_AND_STAFFING', 'CONSULTING_AND_BUSINESS_SERVICES',
       'CONSTRUCTION,CONSUMER_GOODS_AND_SERVICES', 'GOVERNMENT', 'AUTO',
       'INDUSTRIAL_MANUFACTURING',
       'CONSULTING_AND_BUSINESS_SERVICES,INTERNET_AND_SOFTWARE',
       'GOVERNMENT,HEALTH_CARE', 'REAL_ESTATE', 'TELECOMMUNICATIONS',
       'BANKS_AND_FINANCIAL_SERVICES,REAL_ESTATE',
       'AGRICULTURE_AND_EXTRACTION', 'Other Services',
       'CONSUMER_GOODS_AND_SERVICES,FOOD_AND_BEVERAGES',
       'CONSTRUCTION,INDUSTRIAL_MANUFACTURING',
       'CONSTRUCTION,CONSULTING_AND_BUSINESS_SERVICES,REAL_ESTATE',
       'MEDIA_NEWS_AND_PUBLISHING',
       'CONSUMER_GOODS_AND_SERVICES,INDUSTRIAL_MANUFACTURING',
       'HEALTH_CARE,INDUSTRIAL_MANUFACTURING',
       'AGRICULTURE_AND_EXTRACTION,CONSUMER_GOODS_AND_SERVICES',
       'AEROSPACE_AND_DEFENSE,INDUSTRIAL_MANUFACTURING',
       'BANKS_AND_FINANCIAL_SERVICES,HEALTH_CARE',
       'AGRICULTURE_AND_EXTRACTION,RETAIL',
       'FOOD_AND_BEVERAGES,INDUSTRIAL_MANUFACTURING',
       'AUTO,BANKS_AND_FINANCIAL_SERVICES',
       'CONSULTING_AND_BUSINESS_SERVICES,RETAIL',
       'HEALTH_CARE,ORGANIZATION',
       'CONSULTING_AND_BUSINESS_SERVICES,TRANSPORT_AND_FREIGHT',
       'PHARMACEUTICALS',
       'INTERNET_AND_SOFTWARE,MEDIA_NEWS_AND_PUBLISHING,TELECOMMUNICATIONS',
       'CONSUMER_GOODS_AND_SERVICES,RETAIL',
       'EDUCATION_AND_SCHOOLS,HEALTH_CARE',
       'CONSULTING_AND_BUSINESS_SERVICES,GOVERNMENT',
       'INDUSTRIAL_MANUFACTURING,INSURANCE',
       'INDUSTRIAL_MANUFACTURING,TRANSPORT_AND_FREIGHT',
       'ENERGY_AND_UTILITIES,INDUSTRIAL_MANUFACTURING',
       'INSURANCE,MEDIA_NEWS_AND_PUBLISHING',
       'BANKS_AND_FINANCIAL_SERVICES,CONSTRUCTION',
       'INTERNET_AND_SOFTWARE,MEDIA_NEWS_AND_PUBLISHING',
       'HEALTH_CARE,INSURANCE', 'COMPUTERS_AND_ELECTRONICS,RETAIL',
       'INDUSTRIAL_MANUFACTURING,RETAIL',
       'BANKS_AND_FINANCIAL_SERVICES,ENERGY_AND_UTILITIES',
       'INDUSTRIAL_MANUFACTURING,TELECOMMUNICATIONS',
       'AUTO,TRANSPORT_AND_FREIGHT', 'CONSTRUCTION,REAL_ESTATE',
       'AUTO,RESTAURANTS_TRAVEL_AND_LEISURE',
       'ENERGY_AND_UTILITIES,PHARMACEUTICALS',
       'COMPUTERS_AND_ELECTRONICS,ENERGY_AND_UTILITIES',
       'CONSTRUCTION,ENERGY_AND_UTILITIES',
       'FOOD_AND_BEVERAGES,TRANSPORT_AND_FREIGHT',
       'HUMAN_RESOURCES_AND_STAFFING,INTERNET_AND_SOFTWARE',
       'CONSULTING_AND_BUSINESS_SERVICES,TELECOMMUNICATIONS',
       'CONSTRUCTION,CONSULTING_AND_BUSINESS_SERVICES',
       'BANKS_AND_FINANCIAL_SERVICES,CONSULTING_AND_BUSINESS_SERVICES',
       'AEROSPACE_AND_DEFENSE,HUMAN_RESOURCES_AND_STAFFING'], dtype=object)

In [18]:
df.groupby('stateProvince')['industry'].nunique().sort_values()

stateProvince
VI          0
PR          0
GU          0
MT          7
VT          7
RI          8
NH          8
ID          8
AK          8
WY          8
HI          9
SD         11
ND         12
DE         13
DC         14
WV         14
ME         14
AR         15
NE         15
MS         15
IA         15
NM         16
UNKNOWN    16
CT         16
OK         17
NV         17
LA         17
OR         19
KS         20
KY         20
SC         20
UT         20
WI         21
MO         22
MI         22
NJ         23
GA         24
AL         24
TN         25
IN         26
MN         26
MD         26
WA         26
MA         27
VA         28
CO         28
NC         28
IL         28
AZ         29
FL         29
NY         31
OH         33
PA         35
CA         40
TX         40
Name: industry, dtype: int64

In [19]:
df.industry.isnull().sum()

689492

In [21]:
df.shape

(788435, 24)

In [24]:
df.groupby('stateProvince')['companyId'].nunique().sort_values()

stateProvince
VI            3
GU            3
PR           25
WY           64
AK           80
VT          101
SD          104
ND          111
MT          122
RI          133
ID          149
HI          158
DE          162
WV          183
ME          187
MS          204
NM          222
NH          240
UNKNOWN     256
AR          259
NE          268
NV          320
DC          356
OK          386
KS          389
UT          391
IA          392
LA          394
AL          429
OR          465
KY          495
CT          531
SC          570
MO          721
WI          764
TN          784
IN          809
MN          865
MD          876
AZ          878
CO          898
WA          921
NC         1109
NJ         1126
MI         1149
MA         1162
GA         1168
VA         1215
OH         1395
PA         1589
IL         1616
FL         2125
NY         2181
TX         2730
CA         4017
Name: companyId, dtype: int64

In [38]:
df[df.industry == 'FOOD_AND_BEVERAGES,INDUSTRIAL_MANUFACTURING']['normTitle']

5548      human resources generalist
5552            maintenance mechanic
8916         supply chain specialist
27744        supply chain specialist
37443           maintenance mechanic
37465     human resources generalist
42524     human resources generalist
42560           maintenance mechanic
54856        supply chain specialist
77712     human resources generalist
77741           maintenance mechanic
80188        supply chain specialist
92172        supply chain specialist
96877     human resources generalist
96880           maintenance mechanic
119929    human resources generalist
119983          maintenance mechanic
123226       supply chain specialist
143722       supply chain specialist
147052          maintenance mechanic
147055    human resources generalist
148525     senior maintenance person
178466     senior maintenance person
184387       supply chain specialist
186250          maintenance mechanic
186410    human resources generalist
187870    human resources generalist
188102          maintenance mechanic
197334     senior maintenance person
198345       supply chain specialist
                     ...
628571          maintenance mechanic
629224    human resources generalist
639514       supply chain specialist
639881                credit analyst
651091     senior maintenance person
656955                credit analyst
659243     senior maintenance person
672910    human resources generalist
673020          maintenance mechanic
680633       supply chain specialist
687692       supply chain specialist
690615                credit analyst
699102          maintenance mechanic
699165    human resources generalist
707611     senior maintenance person
714892     senior maintenance person
720266                credit analyst
726355       supply chain specialist
732031    human resources generalist
732032          maintenance mechanic
735746          maintenance mechanic
735750    human resources generalist
752548     senior maintenance person
757430                credit analyst
760248       supply chain specialist
765711          maintenance mechanic
765751    human resources generalist
769438                credit analyst
778197     senior maintenance person
786595       supply chain specialist
Name: normTitle, Length: 134, dtype: object