In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
read = '/home/zoro/Desktop/datafest2018/DataFest-Dataset-2018.csv/output/month2/'
#write= '/Users/Apoorva.Rajesh.Joshi@ibm.com/Desktop/Ap version/'
filename = 'nov16.csv'

In [2]:
df = pd.read_csv(read+filename).drop(['Unnamed: 0'], axis=1) # read the file and drop first column

In [3]:
df.head()

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,estimatedSalary,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,22800,NaN,EN,0.0,0.0,High School,99,12,2,43
1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,case manager,...,42600,NaN,EN,1.0,1.0,Higher Education,19,36,24,24378
2,2016-11-01,company34117,job0070172,US,TX,Dallas,4.0,9.0,NaN,licensed clinical social worker,...,50300,NaN,EN,0.0,1.0,Higher Education,5,88,14,332460
3,2016-11-01,company05230,job0010362,US,NY,Yonkers,3.5,36.0,NaN,security,...,41500,NaN,EN,1.0,1.0,Higher Education,64,13,0,99285
4,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,22600,NaN,EN,0.0,0.0,None,14,22,0,268079

In [4]:
df.shape

(746729, 24)

In [5]:
df.companyId.nunique()

24227

In [6]:
Company_per_state = df.groupby('stateProvince')['companyId'].nunique().sort_values()

In [7]:
Job_per_state = df.groupby('stateProvince')['jobId'].nunique().sort_values()

In [8]:
cps = Company_per_state.to_frame()

In [9]:
jps = Job_per_state.to_frame()

In [10]:
cps = cps.reset_index()
jps = jps.reset_index()

In [11]:
cps

   stateProvince  companyId
0             GU          2
1             VI          3
2             PR         25
3             WY         62
4             AK         75
5             VT         96
6             SD         99
7             ND        103
8             MT        112
9             RI        128
10            ID        143
11            HI        144
12            DE        156
13            WV        170
14            ME        180
15            MS        198
16            NM        213
17            NH        225
18            AR        244
19       UNKNOWN        245
20            NE        254
21            NV        311
22            DC        338
23            OK        370
24            KS        371
25            UT        374
26            IA        374
27            LA        378
28            AL        410
29            OR        447
30            KY        465
31            CT        511
32            SC        546
33            MO        681
34            WI        737
35            TN        746
36            IN        785
37            MN        837
38            MD        846
39            AZ        851
40            CO        865
41            WA        878
42            NC       1069
43            NJ       1081
44            MI       1106
45            MA       1115
46            GA       1121
47            VA       1160
48            OH       1330
49            PA       1524
50            IL       1540
51            FL       2046
52            NY       2101
53            TX       2592
54            CA       3824

In [12]:
df2 = pd.merge(cps,jps,on='stateProvince')

In [13]:
df2

   stateProvince  companyId  jobId
0             GU          2      2
1             VI          3      3
2             PR         25     28
3             WY         62     72
4             AK         75    100
5             VT         96    116
6             SD         99    153
7             ND        103    118
8             MT        112    131
9             RI        128    165
10            ID        143    167
11            HI        144    173
12            DE        156    194
13            WV        170    214
14            ME        180    233
15            MS        198    251
16            NM        213    326
17            NH        225    291
18            AR        244    338
19       UNKNOWN        245    296
20            NE        254    321
21            NV        311    393
22            DC        338    415
23            OK        370    479
24            KS        371    459
25            UT        374    499
26            IA        374    521
27            LA        378    510
28            AL        410    551
29            OR        447    611
30            KY        465    677
31            CT        511    631
32            SC        546    758
33            MO        681    944
34            WI        737   1038
35            TN        746   1077
36            IN        785   1194
37            MN        837   1272
38            MD        846   1212
39            AZ        851   1193
40            CO        865   1236
41            WA        878   1272
42            NC       1069   1734
43            NJ       1081   1551
44            MI       1106   1556
45            MA       1115   1615
46            GA       1121   1625
47            VA       1160   1787
48            OH       1330   1988
49            PA       1524   2462
50            IL       1540   2323
51            FL       2046   3225
52            NY       2101   3108
53            TX       2592   4350
54            CA       3824   6393

In [14]:
jps.shape

(55, 2)

In [15]:
df2.shape

(55, 3)

In [16]:
df.columns

Index([u'date', u'companyId', u'jobId', u'country', u'stateProvince', u'city',
       u'avgOverallRating', u'numReviews', u'industry', u'normTitle',
       u'normTitleCategory', u'descriptionCharacterLength',
       u'descriptionWordCount', u'experienceRequired', u'estimatedSalary',
       u'salaryCurrency', u'jobLanguage', u'supervisingJob',
       u'licenseRequiredJob', u'educationRequirements', u'jobAgeDays',
       u'clicks', u'localClicks', u'label'],
      dtype='object')

In [17]:
estimated_salary = df.groupby('stateProvince')['estimatedSalary'].mean().sort_values()
es = estimated_salary.to_frame()
es = es.reset_index()

min_estimated_salary = df.groupby('stateProvince')['estimatedSalary'].min().sort_values()
mines = min_estimated_salary.to_frame()
mines = mines.reset_index()

max_estimated_salary = df.groupby('stateProvince')['estimatedSalary'].max().sort_values()
maxes = max_estimated_salary.to_frame()
maxes = maxes.reset_index()

In [18]:
df2 = pd.merge(df2,es,on='stateProvince')

In [19]:
df2 = pd.merge(df2,mines,on='stateProvince')
df2 = pd.merge(df2,maxes,on='stateProvince')

In [20]:
df2.shape

(55, 6)

In [21]:
df2

,stateProvince,companyId,jobId,estimatedSalary_x,estimatedSalary_y,estimatedSalary
0,GU,2,2,16680.000000,16100,33500
1,VI,3,3,47728.571429,17600,74800
2,PR,25,28,51789.405685,16000,102100
3,WY,62,72,42296.280992,17100,198500
4,AK,75,100,38643.991260,17400,173900
5,VT,96,116,42357.481225,16100,199700
6,SD,99,153,46559.367542,17300,179400
7,ND,103,118,40143.792173,18500,184900
8,MT,112,131,42803.870968,16900,206400
9,RI,128,165,45012.148091,0,151400
10,ID,143,167,46149.683544,15800,207100
11,HI,144,173,42031.748656,14800,152500
12,DE,156,194,48900.039746,16400,205900
13,WV,170,214,40651.195446,14900,203400
14,ME,180,233,38834.909910,14700,196200
15,MS,198,251,40308.175389,13400,203900
16,NM,213,326,47858.110993,14300,204500
17,NH,225,291,42169.003492,16500,204400
18,AR,244,338,41547.019583,0,201400
19,UNKNOWN,245,296,68512.849404,18100,218300
20,NE,254,321,40169.110459,15400,200500
21,NV,311,393,41796.676425,14400,199100
22,DC,338,415,66311.313096,15100,204500
23,OK,370,479,43259.898085,15000,193600
24,KS,371,459,40531.667948,15700,207600
25,UT,374,499,39176.258564,14900,197400
26,IA,374,521,44721.312500,15900,215800
27,LA,378,510,41177.309210,13400,191300
28,AL,410,551,43546.692270,13500,201100
29,OR,447,611,46268.258695,15500,206700
30,KY,465,677,40154.589206,14900,208400
31,CT,511,631,49322.499730,14700,207000
32,SC,546,758,43642.291584,14700,204900
33,MO,681,944,42367.289647,14600,218600
34,WI,737,1038,43034.842269,13300,204400
35,TN,746,1077,41517.807567,15300,204500
36,IN,785,1194,41931.114665,13100,207700
37,MN,837,1272,43340.899667,15000,206900
38,MD,846,1212,51822.622291,15000,218500
39,AZ,851,1193,45183.312247,15700,205300
40,CO,865,1236,45514.013133,15200,218500
41,WA,878,1272,52972.942899,14400,207300
42,NC,1069,1734,48301.194225,13500,208600
43,NJ,1081,1551,49818.562049,13100,198400
44,MI,1106,1556,44124.665503,14200,204000
45,MA,1115,1615,52745.232020,0,204500
46,GA,1121,1625,48397.336200,0,207500
47,VA,1160,1787,52623.519401,13300,218500
48,OH,1330,1988,43290.700340,11900,211600
49,PA,1524,2462,44703.360150,13300,205200
50,IL,1540,2323,49486.400853,13300,212900
51,FL,2046,3225,45049.278446,0,218500
52,NY,2101,3108,55800.977571,13300,208600
53,TX,2592,4350,46682.005321,0,211000
54,CA,3824,6393,53379.172966,13400,218500

In [26]:
mean_estimatedSalary_y = df2['estimatedSalary_y'].mean(skipna=True)

In [27]:
mean_estimatedSalary_y

13380.0

In [28]:
df2=df2.replace({'estimatedSalary_y': {0: mean_estimatedSalary_y}})

In [29]:
df2

,stateProvince,companyId,jobId,estimatedSalary_x,estimatedSalary_y,estimatedSalary
0,GU,2,2,16680.000000,16100.0,33500
1,VI,3,3,47728.571429,17600.0,74800
2,PR,25,28,51789.405685,16000.0,102100
3,WY,62,72,42296.280992,17100.0,198500
4,AK,75,100,38643.991260,17400.0,173900
5,VT,96,116,42357.481225,16100.0,199700
6,SD,99,153,46559.367542,17300.0,179400
7,ND,103,118,40143.792173,18500.0,184900
8,MT,112,131,42803.870968,16900.0,206400
9,RI,128,165,45012.148091,13380.0,151400
10,ID,143,167,46149.683544,15800.0,207100
11,HI,144,173,42031.748656,14800.0,152500
12,DE,156,194,48900.039746,16400.0,205900
13,WV,170,214,40651.195446,14900.0,203400
14,ME,180,233,38834.909910,14700.0,196200
15,MS,198,251,40308.175389,13400.0,203900
16,NM,213,326,47858.110993,14300.0,204500
17,NH,225,291,42169.003492,16500.0,204400
18,AR,244,338,41547.019583,13380.0,201400
19,UNKNOWN,245,296,68512.849404,18100.0,218300
20,NE,254,321,40169.110459,15400.0,200500
21,NV,311,393,41796.676425,14400.0,199100
22,DC,338,415,66311.313096,15100.0,204500
23,OK,370,479,43259.898085,15000.0,193600
24,KS,371,459,40531.667948,15700.0,207600
25,UT,374,499,39176.258564,14900.0,197400
26,IA,374,521,44721.312500,15900.0,215800
27,LA,378,510,41177.309210,13400.0,191300
28,AL,410,551,43546.692270,13500.0,201100
29,OR,447,611,46268.258695,15500.0,206700
30,KY,465,677,40154.589206,14900.0,208400
31,CT,511,631,49322.499730,14700.0,207000
32,SC,546,758,43642.291584,14700.0,204900
33,MO,681,944,42367.289647,14600.0,218600
34,WI,737,1038,43034.842269,13300.0,204400
35,TN,746,1077,41517.807567,15300.0,204500
36,IN,785,1194,41931.114665,13100.0,207700
37,MN,837,1272,43340.899667,15000.0,206900
38,MD,846,1212,51822.622291,15000.0,218500
39,AZ,851,1193,45183.312247,15700.0,205300
40,CO,865,1236,45514.013133,15200.0,218500
41,WA,878,1272,52972.942899,14400.0,207300
42,NC,1069,1734,48301.194225,13500.0,208600
43,NJ,1081,1551,49818.562049,13100.0,198400
44,MI,1106,1556,44124.665503,14200.0,204000
45,MA,1115,1615,52745.232020,13380.0,204500
46,GA,1121,1625,48397.336200,13380.0,207500
47,VA,1160,1787,52623.519401,13300.0,218500
48,OH,1330,1988,43290.700340,11900.0,211600
49,PA,1524,2462,44703.360150,13300.0,205200
50,IL,1540,2323,49486.400853,13300.0,212900
51,FL,2046,3225,45049.278446,13380.0,218500
52,NY,2101,3108,55800.977571,13300.0,208600
53,TX,2592,4350,46682.005321,13380.0,211000
54,CA,3824,6393,53379.172966,13400.0,218500

In [30]:
df2.columns = ['stateProvince','companyId','jobId','mean_estimatedSalary','min_estimatedSalary','max_estimatedSalary']

In [31]:
df2

,stateProvince,companyId,jobId,mean_estimatedSalary,min_estimatedSalary,max_estimatedSalary
0,GU,2,2,16680.000000,16100.0,33500
1,VI,3,3,47728.571429,17600.0,74800
2,PR,25,28,51789.405685,16000.0,102100
3,WY,62,72,42296.280992,17100.0,198500
4,AK,75,100,38643.991260,17400.0,173900
5,VT,96,116,42357.481225,16100.0,199700
6,SD,99,153,46559.367542,17300.0,179400
7,ND,103,118,40143.792173,18500.0,184900
8,MT,112,131,42803.870968,16900.0,206400
9,RI,128,165,45012.148091,13380.0,151400
10,ID,143,167,46149.683544,15800.0,207100
11,HI,144,173,42031.748656,14800.0,152500
12,DE,156,194,48900.039746,16400.0,205900
13,WV,170,214,40651.195446,14900.0,203400
14,ME,180,233,38834.909910,14700.0,196200
15,MS,198,251,40308.175389,13400.0,203900
16,NM,213,326,47858.110993,14300.0,204500
17,NH,225,291,42169.003492,16500.0,204400
18,AR,244,338,41547.019583,13380.0,201400
19,UNKNOWN,245,296,68512.849404,18100.0,218300
20,NE,254,321,40169.110459,15400.0,200500
21,NV,311,393,41796.676425,14400.0,199100
22,DC,338,415,66311.313096,15100.0,204500
23,OK,370,479,43259.898085,15000.0,193600
24,KS,371,459,40531.667948,15700.0,207600
25,UT,374,499,39176.258564,14900.0,197400
26,IA,374,521,44721.312500,15900.0,215800
27,LA,378,510,41177.309210,13400.0,191300
28,AL,410,551,43546.692270,13500.0,201100
29,OR,447,611,46268.258695,15500.0,206700
30,KY,465,677,40154.589206,14900.0,208400
31,CT,511,631,49322.499730,14700.0,207000
32,SC,546,758,43642.291584,14700.0,204900
33,MO,681,944,42367.289647,14600.0,218600
34,WI,737,1038,43034.842269,13300.0,204400
35,TN,746,1077,41517.807567,15300.0,204500
36,IN,785,1194,41931.114665,13100.0,207700
37,MN,837,1272,43340.899667,15000.0,206900
38,MD,846,1212,51822.622291,15000.0,218500
39,AZ,851,1193,45183.312247,15700.0,205300
40,CO,865,1236,45514.013133,15200.0,218500
41,WA,878,1272,52972.942899,14400.0,207300
42,NC,1069,1734,48301.194225,13500.0,208600
43,NJ,1081,1551,49818.562049,13100.0,198400
44,MI,1106,1556,44124.665503,14200.0,204000
45,MA,1115,1615,52745.232020,13380.0,204500
46,GA,1121,1625,48397.336200,13380.0,207500
47,VA,1160,1787,52623.519401,13300.0,218500
48,OH,1330,1988,43290.700340,11900.0,211600
49,PA,1524,2462,44703.360150,13300.0,205200
50,IL,1540,2323,49486.400853,13300.0,212900
51,FL,2046,3225,45049.278446,13380.0,218500
52,NY,2101,3108,55800.977571,13300.0,208600
53,TX,2592,4350,46682.005321,13380.0,211000
54,CA,3824,6393,53379.172966,13400.0,218500

In [36]:
dateSelect = "2016-11"

In [37]:
df2['date'] = dateSelect

In [39]:
df2

,stateProvince,companyId,jobId,mean_estimatedSalary,min_estimatedSalary,max_estimatedSalary,date
0,GU,2,2,16680.000000,16100.0,33500,2016-11
1,VI,3,3,47728.571429,17600.0,74800,2016-11
2,PR,25,28,51789.405685,16000.0,102100,2016-11
3,WY,62,72,42296.280992,17100.0,198500,2016-11
4,AK,75,100,38643.991260,17400.0,173900,2016-11
5,VT,96,116,42357.481225,16100.0,199700,2016-11
6,SD,99,153,46559.367542,17300.0,179400,2016-11
7,ND,103,118,40143.792173,18500.0,184900,2016-11
8,MT,112,131,42803.870968,16900.0,206400,2016-11
9,RI,128,165,45012.148091,13380.0,151400,2016-11
10,ID,143,167,46149.683544,15800.0,207100,2016-11
11,HI,144,173,42031.748656,14800.0,152500,2016-11
12,DE,156,194,48900.039746,16400.0,205900,2016-11
13,WV,170,214,40651.195446,14900.0,203400,2016-11
14,ME,180,233,38834.909910,14700.0,196200,2016-11
15,MS,198,251,40308.175389,13400.0,203900,2016-11
16,NM,213,326,47858.110993,14300.0,204500,2016-11
17,NH,225,291,42169.003492,16500.0,204400,2016-11
18,AR,244,338,41547.019583,13380.0,201400,2016-11
19,UNKNOWN,245,296,68512.849404,18100.0,218300,2016-11
20,NE,254,321,40169.110459,15400.0,200500,2016-11
21,NV,311,393,41796.676425,14400.0,199100,2016-11
22,DC,338,415,66311.313096,15100.0,204500,2016-11
23,OK,370,479,43259.898085,15000.0,193600,2016-11
24,KS,371,459,40531.667948,15700.0,207600,2016-11
25,UT,374,499,39176.258564,14900.0,197400,2016-11
26,IA,374,521,44721.312500,15900.0,215800,2016-11
27,LA,378,510,41177.309210,13400.0,191300,2016-11
28,AL,410,551,43546.692270,13500.0,201100,2016-11
29,OR,447,611,46268.258695,15500.0,206700,2016-11
30,KY,465,677,40154.589206,14900.0,208400,2016-11
31,CT,511,631,49322.499730,14700.0,207000,2016-11
32,SC,546,758,43642.291584,14700.0,204900,2016-11
33,MO,681,944,42367.289647,14600.0,218600,2016-11
34,WI,737,1038,43034.842269,13300.0,204400,2016-11
35,TN,746,1077,41517.807567,15300.0,204500,2016-11
36,IN,785,1194,41931.114665,13100.0,207700,2016-11
37,MN,837,1272,43340.899667,15000.0,206900,2016-11
38,MD,846,1212,51822.622291,15000.0,218500,2016-11
39,AZ,851,1193,45183.312247,15700.0,205300,2016-11
40,CO,865,1236,45514.013133,15200.0,218500,2016-11
41,WA,878,1272,52972.942899,14400.0,207300,2016-11
42,NC,1069,1734,48301.194225,13500.0,208600,2016-11
43,NJ,1081,1551,49818.562049,13100.0,198400,2016-11
44,MI,1106,1556,44124.665503,14200.0,204000,2016-11
45,MA,1115,1615,52745.232020,13380.0,204500,2016-11
46,GA,1121,1625,48397.336200,13380.0,207500,2016-11
47,VA,1160,1787,52623.519401,13300.0,218500,2016-11
48,OH,1330,1988,43290.700340,11900.0,211600,2016-11
49,PA,1524,2462,44703.360150,13300.0,205200,2016-11
50,IL,1540,2323,49486.400853,13300.0,212900,2016-11
51,FL,2046,3225,45049.278446,13380.0,218500,2016-11
52,NY,2101,3108,55800.977571,13300.0,208600,2016-11
53,TX,2592,4350,46682.005321,13380.0,211000,2016-11
54,CA,3824,6393,53379.172966,13400.0,218500,2016-11

In [40]:
cols = df2.columns.tolist()
cols = cols[-1:] + cols[:-1]
df2 = df2[cols]

In [41]:
df2

,date,stateProvince,companyId,jobId,mean_estimatedSalary,min_estimatedSalary,max_estimatedSalary
0,2016-11,GU,2,2,16680.000000,16100.0,33500
1,2016-11,VI,3,3,47728.571429,17600.0,74800
2,2016-11,PR,25,28,51789.405685,16000.0,102100
3,2016-11,WY,62,72,42296.280992,17100.0,198500
4,2016-11,AK,75,100,38643.991260,17400.0,173900
5,2016-11,VT,96,116,42357.481225,16100.0,199700
6,2016-11,SD,99,153,46559.367542,17300.0,179400
7,2016-11,ND,103,118,40143.792173,18500.0,184900
8,2016-11,MT,112,131,42803.870968,16900.0,206400
9,2016-11,RI,128,165,45012.148091,13380.0,151400
10,2016-11,ID,143,167,46149.683544,15800.0,207100
11,2016-11,HI,144,173,42031.748656,14800.0,152500
12,2016-11,DE,156,194,48900.039746,16400.0,205900
13,2016-11,WV,170,214,40651.195446,14900.0,203400
14,2016-11,ME,180,233,38834.909910,14700.0,196200
15,2016-11,MS,198,251,40308.175389,13400.0,203900
16,2016-11,NM,213,326,47858.110993,14300.0,204500
17,2016-11,NH,225,291,42169.003492,16500.0,204400
18,2016-11,AR,244,338,41547.019583,13380.0,201400
19,2016-11,UNKNOWN,245,296,68512.849404,18100.0,218300
20,2016-11,NE,254,321,40169.110459,15400.0,200500
21,2016-11,NV,311,393,41796.676425,14400.0,199100
22,2016-11,DC,338,415,66311.313096,15100.0,204500
23,2016-11,OK,370,479,43259.898085,15000.0,193600
24,2016-11,KS,371,459,40531.667948,15700.0,207600
25,2016-11,UT,374,499,39176.258564,14900.0,197400
26,2016-11,IA,374,521,44721.312500,15900.0,215800
27,2016-11,LA,378,510,41177.309210,13400.0,191300
28,2016-11,AL,410,551,43546.692270,13500.0,201100
29,2016-11,OR,447,611,46268.258695,15500.0,206700
30,2016-11,KY,465,677,40154.589206,14900.0,208400
31,2016-11,CT,511,631,49322.499730,14700.0,207000
32,2016-11,SC,546,758,43642.291584,14700.0,204900
33,2016-11,MO,681,944,42367.289647,14600.0,218600
34,2016-11,WI,737,1038,43034.842269,13300.0,204400
35,2016-11,TN,746,1077,41517.807567,15300.0,204500
36,2016-11,IN,785,1194,41931.114665,13100.0,207700
37,2016-11,MN,837,1272,43340.899667,15000.0,206900
38,2016-11,MD,846,1212,51822.622291,15000.0,218500
39,2016-11,AZ,851,1193,45183.312247,15700.0,205300
40,2016-11,CO,865,1236,45514.013133,15200.0,218500
41,2016-11,WA,878,1272,52972.942899,14400.0,207300
42,2016-11,NC,1069,1734,48301.194225,13500.0,208600
43,2016-11,NJ,1081,1551,49818.562049,13100.0,198400
44,2016-11,MI,1106,1556,44124.665503,14200.0,204000
45,2016-11,MA,1115,1615,52745.232020,13380.0,204500
46,2016-11,GA,1121,1625,48397.336200,13380.0,207500
47,2016-11,VA,1160,1787,52623.519401,13300.0,218500
48,2016-11,OH,1330,1988,43290.700340,11900.0,211600
49,2016-11,PA,1524,2462,44703.360150,13300.0,205200
50,2016-11,IL,1540,2323,49486.400853,13300.0,212900
51,2016-11,FL,2046,3225,45049.278446,13380.0,218500
52,2016-11,NY,2101,3108,55800.977571,13300.0,208600
53,2016-11,TX,2592,4350,46682.005321,13380.0,211000
54,2016-11,CA,3824,6393,53379.172966,13400.0,218500

In [42]:
df.head()

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,estimatedSalary,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,22800,NaN,EN,0.0,0.0,High School,99,12,2,43
1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,case manager,...,42600,NaN,EN,1.0,1.0,Higher Education,19,36,24,24378
2,2016-11-01,company34117,job0070172,US,TX,Dallas,4.0,9.0,NaN,licensed clinical social worker,...,50300,NaN,EN,0.0,1.0,Higher Education,5,88,14,332460
3,2016-11-01,company05230,job0010362,US,NY,Yonkers,3.5,36.0,NaN,security,...,41500,NaN,EN,1.0,1.0,Higher Education,64,13,0,99285
4,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,22600,NaN,EN,0.0,0.0,None,14,22,0,268079

In [45]:
total_clicks = df.groupby('stateProvince')['clicks'].sum().sort_values()
tc = total_clicks.to_frame()
tc = tc.reset_index()

total_local_clicks = df.groupby('stateProvince')['localClicks'].sum().sort_values()
tlc = total_local_clicks.to_frame()
tlc = tlc.reset_index()

In [46]:
df2 = pd.merge(df2,tc,on='stateProvince')
df2 = pd.merge(df2,tlc,on='stateProvince')

In [47]:
df2

,date,stateProvince,companyId,jobId,mean_estimatedSalary,min_estimatedSalary,max_estimatedSalary,clicks,localClicks
0,2016-11,GU,2,2,16680.000000,16100.0,33500,852,55
1,2016-11,VI,3,3,47728.571429,17600.0,74800,1339,39
2,2016-11,PR,25,28,51789.405685,16000.0,102100,11529,518
3,2016-11,WY,62,72,42296.280992,17100.0,198500,17587,3830
4,2016-11,AK,75,100,38643.991260,17400.0,173900,27370,4708
5,2016-11,VT,96,116,42357.481225,16100.0,199700,32160,3584
6,2016-11,SD,99,153,46559.367542,17300.0,179400,29735,6256
7,2016-11,ND,103,118,40143.792173,18500.0,184900,26016,6231
8,2016-11,MT,112,131,42803.870968,16900.0,206400,31622,7220
9,2016-11,RI,128,165,45012.148091,13380.0,151400,53768,6366
10,2016-11,ID,143,167,46149.683544,15800.0,207100,45199,6896
11,2016-11,HI,144,173,42031.748656,14800.0,152500,48810,7711
12,2016-11,DE,156,194,48900.039746,16400.0,205900,60099,7492
13,2016-11,WV,170,214,40651.195446,14900.0,203400,53094,6762
14,2016-11,ME,180,233,38834.909910,14700.0,196200,61517,7736
15,2016-11,MS,198,251,40308.175389,13400.0,203900,92577,13147
16,2016-11,NM,213,326,47858.110993,14300.0,204500,70665,16744
17,2016-11,NH,225,291,42169.003492,16500.0,204400,73710,8793
18,2016-11,AR,244,338,41547.019583,13380.0,201400,98370,14729
19,2016-11,UNKNOWN,245,296,68512.849404,18100.0,218300,224298,18016
20,2016-11,NE,254,321,40169.110459,15400.0,200500,85074,27523
21,2016-11,NV,311,393,41796.676425,14400.0,199100,125232,34899
22,2016-11,DC,338,415,66311.313096,15100.0,204500,116686,18329
23,2016-11,OK,370,479,43259.898085,15000.0,193600,147698,31028
24,2016-11,KS,371,459,40531.667948,15700.0,207600,133078,26418
25,2016-11,UT,374,499,39176.258564,14900.0,197400,140135,23224
26,2016-11,IA,374,521,44721.312500,15900.0,215800,122677,17824
27,2016-11,LA,378,510,41177.309210,13400.0,191300,174470,30380
28,2016-11,AL,410,551,43546.692270,13500.0,201100,183529,33499
29,2016-11,OR,447,611,46268.258695,15500.0,206700,179944,34459
30,2016-11,KY,465,677,40154.589206,14900.0,208400,184919,37554
31,2016-11,CT,511,631,49322.499730,14700.0,207000,212250,20379
32,2016-11,SC,546,758,43642.291584,14700.0,204900,228107,32612
33,2016-11,MO,681,944,42367.289647,14600.0,218600,283972,39919
34,2016-11,WI,737,1038,43034.842269,13300.0,204400,272289,46515
35,2016-11,TN,746,1077,41517.807567,15300.0,204500,330317,59969
36,2016-11,IN,785,1194,41931.114665,13100.0,207700,297998,53452
37,2016-11,MN,837,1272,43340.899667,15000.0,206900,304552,41490
38,2016-11,MD,846,1212,51822.622291,15000.0,218500,359795,43262
39,2016-11,AZ,851,1193,45183.312247,15700.0,205300,334015,64325
40,2016-11,CO,865,1236,45514.013133,15200.0,218500,349177,61189
41,2016-11,WA,878,1272,52972.942899,14400.0,207300,333631,52945
42,2016-11,NC,1069,1734,48301.194225,13500.0,208600,578818,99195
43,2016-11,NJ,1081,1551,49818.562049,13100.0,198400,481360,38047
44,2016-11,MI,1106,1556,44124.665503,14200.0,204000,483139,61421
45,2016-11,MA,1115,1615,52745.232020,13380.0,204500,466016,46958
46,2016-11,GA,1121,1625,48397.336200,13380.0,207500,566238,85702
47,2016-11,VA,1160,1787,52623.519401,13300.0,218500,485820,68761
48,2016-11,OH,1330,1988,43290.700340,11900.0,211600,585879,92437
49,2016-11,PA,1524,2462,44703.360150,13300.0,205200,720557,107713
50,2016-11,IL,1540,2323,49486.400853,13300.0,212900,707326,130657
51,2016-11,FL,2046,3225,45049.278446,13380.0,218500,1053870,191465
52,2016-11,NY,2101,3108,55800.977571,13300.0,208600,1030395,162101
53,2016-11,TX,2592,4350,46682.005321,13380.0,211000,1406096,307555
54,2016-11,CA,3824,6393,53379.172966,13400.0,218500,1859528,264284